/**umb_name:Heading 1*/
h1{font-size: 62px; line-height: 1.25em; color:#455560;}

/**umb_name:Heading 2*/
h2{font-size: 36px; line-height: 1.25em; color:#455560;}

/**umb_name:Heading 3*/
h3{font-size: 28px; line-height: 1.25em; color:#455560;}

/**umb_name:Heading 4*/
h4{font-size:24px; line-height: 1.25em; color:#455560;}

/**umb_name:Heading 5*/
h5{font-size: 18px; line-height: 1.25em; color:#455560;}

/**umb_name:Intro*/
.intro{font-size: 28px; line-height: 1.4em; font-weight:400; color:#455560;}

/**umb_name:Content Left*/
div.content-left{float:left;width:50% !important;height:auto !important;max-width:100%;margin:0 50px 50px 0;}

/**umb_name:Content Right*/
div.content-right{float:right;width:50% !important;height:auto !important;max-width:100%;margin:0 0 50px 50px;}