﻿.site-alert-schools {
    width: 66.6%;
    flex-wrap: wrap;
}

    .site-alert-schools input[type='button'] {
        color: #fff;
        padding: 6px 14px;
        display: block;
        padding: 6px 14px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: none;
        box-shadow: none;
        border-radius: 3px;
        font-weight: 700;
        margin-right: 15px;
        margin-bottom: 15px
    }

    .site-alert-schools input[value='Select All'] {
        background-color: #35c786;
    }

    .site-alert-schools input[value='Remove All'] {
        background-color: #675e7a;
    }

    .site-alert-schools label[ng-repeat='school in schools'] {
        flex: 0 0 30%;
        margin-right: 3%;
        width: 100%;
        margin-top: 5px;
        padding-left: 20px;
        position: relative;
        box-sizing: border-box;
    }

@media screen and (max-width:1400px) {
    .site-alert-schools label[ng-repeat='school in schools'] {
        flex: 0 0 45%;
        margin-right: 5%;
    }
}

@media screen and (max-width:1024px) {
    .site-alert-schools label[ng-repeat='school in schools'] {
        flex: 0 0 100%;
        margin-right: 0;
    }
}

.site-alert-schools label[ng-repeat='school in schools'] input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
}

.site-alert-schools .ng-schools-wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
}

