﻿<div ng-controller="SiteAlertSchools.Controller" class="site-alert-schools">
    <input type="button" ng-click="selectAll()" value="Select All" />
    <input type="button" ng-click="removeAll()" value="Remove All" />

    <div class="ng-schools-wrapper">
        <label ng-repeat="school in schools">
            <input type="checkbox" value="{{school.id}}" ng-model="school.checked" ng-change="toggleSchool()" /> {{school.name}}
        </label>
    </div>
</div>