// ==========================================================================
// Placeholders
// ==========================================================================

// Panel

%panel-default {
    padding-left: em(80px);
    padding-right: em(80px);
    padding-top: em(20px);
    padding-bottom: em(20px);
}

%panel-nopadding {
    padding: em(0px);
}

%panel-padding {
    padding-top: em(50px);
    padding-bottom: em(50px);
}

// footer list

%footer-list {
    padding: 0px;
    margin-top: 0px;
    clear: both;

    li {
        display: inline-block;
        margin-right: 0px;
    }
}

// container
%container {
    clear: both;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px auto;
    position: relative;
}
