// ==========================================================================
// Grid Columns
// ==========================================================================


// Calculate grid columns

@media (min-width: 769px) {
    @for $i from 1 through $g-col-count {
        $context: g-context($g-col-width, $g-col-count,$g-gutter-width) !global;
        $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

        // Generate column modifier classes
        .grid__col--#{$i} {
            width: percentage($target / $context);
        }
    }
}

// Column styles

[class^="grid__col--"] {
    @media (min-width: 1px) and (max-width: 768px) {
        margin-top: em(12px);
        margin-bottom: em(12px);
    }

    @media (min-width: 769px) {
        float: left;
        min-height: 1px;

        &:last-of-type {
            float: left;
        }
    }
}

.grid__col--3.sidemenu {
    @media (max-width: 768px) {
        &:empty {
            display: none;
        }
    }
}

.grid__col--3 {
    width: 25%;

    @media (max-width: 768px) {
        width: 100%;

        &:empty {
            display: none;
        }
    }
}

.grid__col--6 {
    margin-right: 0px;
    width: 50%;

    @media (min-width: 769px) and (max-width: 992px) {
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.grid__col--8 {
    @media (max-width: 768px) {
        width: 100%;
    }
}


.grid__col--9 {
    width: 75%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.grid__col--12 {
}



/* PAGES WITH SIDE NAV */
.container-2col {
    flex-direction: row;
    overflow: visible;
    position: relative;
    border-bottom: 1px solid $whitesmoke;

    .grid__col--8 + .grid__col--4 {
        width: 34%;

        @media screen and (max-width:$breakpoint-sm) {
            order: 1;
            width: 100%;
        }
    }

    .grid__col--8 {
        padding-top: 55px;
        padding-bottom: 100px;
        border-right: 2px solid $whitesmoke;
        padding-right: 10%;

        @media screen and (max-width:$breakpoint-md) {
            padding-right: 5%;
        }

        @media screen and (max-width:$breakpoint-sm) {
            border-right: 0;
            width: 100%;
            padding-right: 0;
            padding-bottom: 40px;
            border-bottom: 1px solid $whitesmoke;
        }
    }

    .grid__col--4 {
        padding-top: 55px;
        padding-bottom: 100px;
        background-color: $white;

        @media screen and (max-width:$breakpoint-sm) {
            width: 100%;
            padding-bottom: 0;
            padding-top: 40px;
        }
    }
}

