﻿

.gateway-results {
    &--grid {
        &__panel {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 100px;
            padding-bottom: 30px;

            @media screen and (max-width:$breakpoint-md) {
                padding-bottom: 70px;
            }
        }

        &__list {
            @include container();
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-flow: row wrap;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;

            @media screen and (max-width:$breakpoint-xs) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__gallery {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-flow: row wrap;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;

            @media screen and (max-width:$breakpoint-xs) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__item {
            flex: 0 0 30%;
            margin-bottom: 70px;
            background-color: $color-primary;
            border-top: 8px solid $color-accent;

            @media screen and (min-width:769px){            
             margin-left: 3.3%;
             margin-bottom: 3.3%;
              &:nth-of-type(3n+1) {
                  margin-left: 0;          
              }
            }

            @media screen and (max-width:$breakpoint-md) {
                margin-bottom: 30px;
            }

            @media screen and (max-width:$breakpoint-sm) {
                flex: 0 0 47%;
                margin-right: 6%;
                margin-bottom: 30px;

                &:nth-of-type(2n+2) {
                    margin-right: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }

            @media screen and (max-width:$breakpoint-xs) {
                flex: 0 0 auto;
                width: 100%;
                margin-right: 0;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            display: flex;
            flex-grow: 2;
            position: relative;
            height: 100%;
            padding-bottom: 100px;
            align-self: flex-start;

            &:hover {
                .gateway-results--grid__content {
                    h2 {
                        color: $color-alternate-gateway;
                    }
                }

                .gateway-results--grid__button {
                    circle {
                        fill: $color-alternate-gateway;
                    }

                    path {
                        fill: $white;
                    }
                }
            }
        }

        &__button {
            position: absolute;
            bottom: 40px;
            right: 40px;

            circle {
                fill: $white;
                @include transition(0.5s all ease-out);
            }

            path {
                fill: $color-third;
                @include transition(0.5s all ease-out);
            }


            @media screen and (max-width:$breakpoint-sm) {
                bottom: 30px;
                right: 30px;
            }
        }

        &__content {
            width: 100%;
            display: block;
            padding: 30px 40px;

            @media screen and (max-width:$breakpoint-md) {
                padding: 30px;
            }

            @media screen and (max-width:$breakpoint-md) {
                padding: 20px;
            }

            h2 {
                width: 100%;
                display: block;
                font-weight: 300;
                color: $white;
                margin: 0px;
                @include transition(0.5s all ease-out);

                @media screen and (max-width:$breakpoint-md) {
                    font-size: 24px;
                }
            }
        }
    }
}
