﻿@using IBV.EDC.Web.Controllers
@model IBV.EDC.Web.ViewModels.ContactFormViewModel
@{
    <div class="contact-form-success-wrapper">
        @if(TempData["EmailSuccess"] != null)
        {
            <div id="contact-form-success">
                Thank you for your enquiry.  We will respond to your enquiry as soon as possible.
            </div>
        }
    </div>

    <div id="contact-form-error-wrapper">
        @if (ViewBag.EmailFailed != null)
        {
            <div id="contact-form-error">
                Something went wrong.
            </div>
        }
    </div>

    using (Html.BeginUmbracoForm<ContactFormController>("ContactPost", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form__field">
            @Html.LabelFor(x => x.FullName)
            <div>
                @Html.ValidationMessageFor(x => x.FullName)
            </div>
            @Html.TextAreaFor(x => x.FullName)
        </div>

        <div class="form__field">
            @Html.LabelFor(x => x.ContactNumber)
            <div>
                @Html.ValidationMessageFor(x => x.ContactNumber)
            </div>
            @Html.TextAreaFor(x => x.ContactNumber, new { type = "number" })
        </div>

        <div class="form__field">
            @Html.LabelFor(x => x.Email)
            <div>
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            @Html.TextAreaFor(x => x.Email, new { type = "email" })
        </div>

        <div class="form__field">
            @Html.LabelFor(x => x.Message)
            <div>
                @Html.ValidationMessageFor(x => x.Message)
            </div>
            @Html.TextAreaFor(x => x.Message)
        </div>

        <div class="form__field">
            <label for="TermsAndConditions" class="lblPrivacy">@Html.Raw(Model.PrivacyPolicyLabel)</label>
            <div>
                @Html.ValidationMessageFor(x => x.TermsAndConditions)
            </div>
            @Html.CheckBoxFor(x => x.TermsAndConditions)
        </div>

        <input type="hidden" value="@UmbracoContext.Current.PageId" name="PageID" id="PageID" />
        <input id="contact-submit" type="submit" value="submit" class="button--primary box" />
    }
}
