﻿@model IBV.EDC.Web.ViewModels.ContactFormViewModel
@{
    <!doctype html>
    <html>
    <head>
        <style>
            body {
                font-family: Arial;
                text-align: left;
                font-size: 0.9em;
            }

            h2 {
                background: black;
                color: White;
                padding: 5px;
            }
        </style>
    </head>
    <body>

        @Html.Raw(ViewBag.Content)

        <div>Full name: @Model.FullName</div>
        <div>Contact number: @Model.ContactNumber</div>
        <div>Email address: @Model.Email</div>
        <div>Message: @Model.Message</div>

    </body>
</html>
}
