* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: $white;
    color: $slategray;
    font-size: $font-size;
    font-family: $font-family--primary;
    line-height: ($line-height/$font-size);
    overflow-x: hidden;
    padding: 0;
    margin: 140px 0 0 0;
    @media screen and (max-width:$breakpoint-md) {
        margin: 0;
    }

    .main-holder {
        .main-content {
            @include container();
            padding-top: 50px;
            padding-bottom: 70px;

            h1:first-of-type {
                color: $color-primary;
                font-size: 50px;

                &:after {
                    content: "";
                    width: 100px;
                    height: 1px;
                    background-color: $grey;
                    display: block;
                    margin: 10px auto 0;
                }
            }

            p {
                width: 100%;
            }
        }

        @media screen and (max-width:$breakpoint-md) {
            margin: 0;
        }

        @media screen and (max-width:$breakpoint-sm) {
            .main-content {
                padding-top: 20px;
                padding-bottom: 20px;

                h1:first-of-type {
                    font-size: 30px;

                    &:after {
                        width: 60px;
                    }
                }
            }
        }

        @media screen and (max-width:$breakpoint-xs) {
            .main-content {
                h1:first-of-type {
                    font-size: 24px;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $slategray;
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    letter-spacing: 0px;
    display: block;
    width: 100%;
}

h1 {
    font-size: 62px;
    line-height: 1.25em;
    @media screen and (max-width:$breakpoint-sm) {
        font-size: 30px;
    }
    @media screen and (max-width:$breakpoint-xs) {
        font-size: 24px;
    }
}

h2 {
    font-size: 36px;
    line-height: 1.25em;

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 28px;
    }
    @media screen and (max-width:$breakpoint-sm) {
        font-size: 20px;
    }

}

h3 {
    font-size: 28px;
    line-height: 1.25em;
    font-weight: 500;

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 24px;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 18px;
    }
}

h4 {
    font-size: 24px;
    margin: em(10) 0;
    font-weight: 500;

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 20px;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 18px;
        font-weight: 400;
    }
}

h5 {
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 16px;
        font-weight: 400;
    }
}

h6 {
}

p {
    font-size: $font-size;
    font-weight: $font-weight--regular;
    line-height: ($line-height/$font-size);
    margin: 0 0 em(20);

    color:$slategray;
}

ul {
    font-weight: $font-weight--regular;
}

ol {
    counter-reset: item;

    > li {
        counter-increment: item;
        list-style-type: none;
        text-indent: em(-20);

        &:before {
            content: counter(item) ".";
            display: inline-block;
            font-weight: bold;
            padding-right: em(8);
            text-align: right;
            width: 1em;
        }
    }
}

.clearboth {
    clear:both;
}

.intro, .intro p, .intro a {
    font-size: 28px;
    line-height: 1.4em;
    font-weight: 500;

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 18px;
    }
}

a {
    color: $color-secondary;
    //color: $color-accent;
    text-decoration: none;
    @include transition(0.5s all ease-out);
}

a:hover,
a:active {
    color: $color-third;
}


img {
    height: auto;
    max-width: 100%;
}

.no-padding {
    padding: 0;
}

.ui-helper-hidden-accessible {
    display: none;
}

.container {
    @include container();
}

.container-2col {
    @include container-2col();
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('/images/svg/drop-list-arrow.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 24px;
}
select::-ms-expand {
    display: none;
}

iframe {
    margin-bottom: 20px;
}

.centre {
    text-align:center;
}

.width-90 {
    padding: 0 5%;
}
.width-80 {
    padding:0 10%;
}
.width-70 {
    padding: 0 15%;
}
.width-60 {
    padding: 0 20%;
}

/**umb_name:Image Left*/
div.image-left, span.image-left {
    float: left; width: 50% !important; height: auto !important; max-width: 100%; margin: 0 50px 50px 0;
    @media screen and (max-width:$breakpoint-xs) {
        float:none;
        width:100% !important;
        margin:50px 0;
    }
}

/**umb_name:Image Right*/
div.image-right, span.image-right{
    float: right; width: 50% !important; height: auto !important; max-width: 100%; margin: 0 0 50px 50px;
    @media screen and (max-width:$breakpoint-xs) {
        float:none;
        width:100% !important;
        margin:50px 0;
    }
}

div.image-left, div.image-right, span.image-left, span.image-right {
    max-width: 100%; max-height: 100%; width: 100%; height: auto;
}