﻿
/*.umbraco-forms-form {*/
form {
    margin-bottom: 40px;

    > .form__field {
        position: relative;

        textarea {
            width: 100%;
            height: 40px;
            border: 1px solid $grey;
        }

        &:nth-of-type(1) {
            width: 100%;

            label {
                margin-top: 0;
            }
        }

        &:nth-of-type(2) {
            width: 48%;
            float: left;
            margin-right: 2%;

            @media screen and (max-width:$breakpoint-xs) {
                width: 100%;
                margin-right: 0;
            }
        }

        &:nth-of-type(3) {
            width: 48%;
            float: left;
            margin-left: 2%;

            @media screen and (max-width:$breakpoint-xs) {
                width: 100%;
                margin-left: 0;
            }
        }

        &:nth-of-type(4) {
            clear: both;
            width: 100%;

            textarea {
                height: 200px;
            }
        }
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    label {
        display: inline-block;
        font-weight: 600;
        margin: 10px 0 5px;
        padding: 0;
        //width: 80%;
        color: $color-primary;

        @media screen and (max-width:$breakpoint-xs) {
            font-weight: 500;
            width: 100%;
            font-size: 16px;
        }

        &.lblPrivacy {
            margin-left: 20px;
        }
    }

    [type="checkbox"] {
        position: absolute;
        top: 17px;
    }

    .button--primary {
        margin-top: 40px;
    }
}
