﻿
$color-primary: #1946BA;    // Main Colour  | Blue          |
$color-secondary: #9C2481;  // Links        | Magenta       |
$color-third: #FFCF00;      // Highlights   | Yellow        |
$color-accent: #FFCF00;     // Accent       | Yellow        |

$color-alternate-faq: #FFCF00;      //      | Yellow        |
$color-alternate-gateway: #FFCF00;  //      | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-primary;

    &:hover {
        color: $color-secondary;
    }
}