﻿
$color-primary: #000A99;    // Main Colour  | Dark Blue     |
$color-secondary: #046B00;  // Links        | Dark Green    |
$color-third: #046B00;      // Highlights   | Dark Green    |
$color-accent: #4DDB00;     // Accent       | Lime Green    |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #4DDB00; //       | Lime Green    |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}

