﻿
$color-primary: #D64000;    // Main Colour  | Red           |
$color-secondary: #D64000;  // Links        | Red           |
$color-third: #757575;      // Highlights   | Dark Grey     |
$color-accent: #D64000;     // Accent       | Red           |

$color-alternate-faq: #000; //              | Black        |
$color-alternate-gateway: #000; //          | Black         |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: #FAC800;
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $white;

    &:hover {
        color: $color-third;
        svg {
            path {
                fill: $color-third;
            }
        }
    }

    svg {
        path {
            fill: $white;
        }
    }
}

