﻿
$color-primary: #7A0002;    // Main Colour  | Dark Red      |
$color-secondary: #339CFF;  // Links        | Light Blue    |
$color-third: #339CFF;      // Highlights   | Light Blue    |
$color-accent: #7A0002;     // Accent       | Dark Red      |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-alternate-faq;

    &:hover {
        color: $color-secondary;

        svg {
            path {
                fill: $color-secondary;
            }
        }
    }

    svg {
        path {
            fill: $color-alternate-faq;
        }
    }
}