﻿
$color-primary: #23204D;    // Main Colour  | Dark Blue     |
$color-secondary: #A80000;  // Links        | Red           |
$color-third: #A80000;      // Highlights   | Red           |
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #B78E06;      //      | Yellow        |
$color-alternate-gateway: #B78E06;  //      | Yellow        |


@import "../index";

/* LINK OVERWRITE */
a {
    color: $color-third;

    &:hover {
        color: #B78E06;
    }
}

