﻿
$color-primary: #103987;    // Main Colour  | Dark Blue     |
$color-secondary: #13625D;  // Links        | Dark Aqua     |
$color-third: #006100;      // Highlights   | Dark Green    |
//$color-accent: #079bef;   // ???          | ???           | 

$color-alternate-faq: #0DE30D;      //      | Light Green   |
$color-alternate-gateway: #0DE30D;  //      | Light Green   |

@import "../index";


/* LINK OVERWRITE */
a {
    color: #0a990a;

    &:hover {
        color: #0c25b5;
    }
}