﻿
$color-primary: #224661;    // Main Colour  | Dark Blue     |
$color-secondary: #96662C;  // Links        | Orange        |
$color-third: #863D46;      // Highlights   | Red           |
$color-accent: #4766B8;     // Accent       | Light Blue    |

$color-alternate-faq: #72B9DF; //           | Light Blue    |
$color-alternate-gateway: #72B9DF; //       | Light Blue    |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-third;

    &:hover {
        color: #23709A;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-secondary, 20%);
                    }
                }
            }
        }
    }
}