﻿
$color-primary: #FFCC00;    // Main Colour  | Yellow        |
$color-secondary: #57585C;  // Links        | Dark Grey     | 
$color-third: #AC1524;      // Highlights   | Red           | 
//$color-accent: #079bef;   // ???          | ???           | 

@import "../index";


/* LINK OVERWRITE */
a {
    color: lighten($color-third, 20%);

    &:hover {
        color: $color-primary;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                p {
                    color: $color-secondary;
                }

                a {
                    color: lighten($color-third, 20%);

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

/* TABLE */
table {
    tbody {
        tr {
            td {
                color: $color-secondary;
            }
        }
    }
}

/* MENU */
.main-menu {
    .dropdown {
        li {
            a {
                color: $color-secondary;
                &:hover {
                    color: lighten($color-third, 20%);
                }
            }
        }
    }
}

/* GATEWAY */
.gateway-results {
    &--grid {
        &__link {
            &:hover {
                .gateway-results--grid__content {
                    h2 {
                        color: $white;
                    }
                }

                .gateway-results--grid__button {
                    circle {
                        fill: $white;
                    }
                    path {
                        fill: $color-third;
                    }
                }
            }
        }

        &__content {
            h2 {
                color: $color-secondary;
            }
        }

        &__button {
            circle {
                fill: $color-secondary;
            }
            path {
                fill: $white;
            }
        }
    }
}