﻿
$color-primary: #004F9E;    // Main Colour  | Dark Blue     |
$color-secondary: #EB0004;  // Links        | Red           |
$color-third: #EB0004;      // Highlights   | Red           |
$color-accent: #399CFF;     // Accent       | Light Blue    |

//$color-alternate-faq: #0074E0; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-gateway;

                    &:hover {
                        color: lighten($color-secondary, 20%);
                    }
                }
            }
        }
    }
}

