﻿
$color-primary: #2E348E;    // Main Colour  | Blue          |
$color-secondary: #1B2055;  // Links        | Dark Blue     |
$color-third: #5AC62F;      // Highlights   | Green         |
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #5AC62F; //           | Light Green   |
$color-alternate-gateway: #5AC62F; //       | Light Green   |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-primary;

    &:hover {
        color: #459924;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-primary, 40%);
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-third;

    &:hover {
        color: $white;

        svg {
            path {
                fill: $white;
            }
        }
    }

    svg {
        path {
            fill: $color-third;
        }
    }
}