﻿
$color-primary: #3E3C4F;    // Main Colour  | Dark Grey     |
$color-secondary: #CE2E1C;  // Links        | Dark Red      |
$color-third: #CE2E1C;      // Highlights   | Dark Red      |
$color-accent: #FAC800;     // Accent       | Yellow        |
/*
$color-alternate-faq: #0074E0; //           | Yellow        |
$color-alternate-gateway: #FFCF00; //       | Yellow        |
*/

@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-accent;

                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}


