﻿
$color-primary: #2E348E;    // Main Colour  | Blue          |
$color-secondary: #B30000;  // Links        | Red           |
$color-third: #4E56C6;      // Highlights   | Lilac         | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #DBAA0A; //           | Yellow        |
$color-alternate-gateway: #DBAA0A; //       | Yellow        |


@import "../index";

