﻿
$color-primary: #2E348E;    // Main Colour  | Dark Blue     |
$color-secondary: #656CCD;  // Links        | Lilac         |
$color-third: #FFCC00;      // Highlights   | Yellow        | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #A3A7E1; //           | Light Blue    |
$color-alternate-gateway: #A3A7E1; //       | Light Blue    |


@import "../index";

