﻿
$color-primary: #00098F;    // Main Colour  | Dark Blue     |
$color-secondary: #00098F;  // Links        | Dark Blue     |
$color-third: #D60004;      // Highlights   | Red           |
$color-accent: #0078C2;     // Accent       | Light Blue    |

$color-alternate-faq: #0078C2; //           | Light Blue    |
$color-alternate-gateway: #D60004; //       | Red           |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;
                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}

