﻿
$color-primary: #2b2d44;    // Main Colour  | Dark Blue     |
$color-secondary: #0182a0;  // Links        | Aqua          | (#57585C)
$color-third: #d80501;      // Highlights   | Red           | (#AC1524)
$color-accent: #079bef;     // ???          | Light Blue    |

$color-alternate-faq: #0BD1FE; //           | Light Blue    |
$color-alternate-gateway: #0BD1FE; //       | Light Blue    |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-third;
    &:hover {
        color: #0382A5;
    }
}