﻿
$color-primary: #3C00E0;    // Main Colour  | Blue          |
$color-secondary: #0074E0;  // Links        | Light Blue    |
$color-third: #0074E0;      // Highlights   | Light Blue    |
$color-accent: #0074E0;     // Accent       | Light Blue    |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-alternate-faq;

    svg {
        path {
            fill: $color-alternate-faq;
        }
    }
}
