﻿
$color-primary: #0B17C1;    // Main Colour  | Blue          |
$color-secondary: #DD0307;  // Links        | Red           |
$color-third: #FAC800;      // Highlights   | Yellow        |
$color-accent: #DD0307;     // Accent       | Red           |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}


