﻿
$color-primary: #A32055;    // Main Colour  | Magenta       |
$color-secondary: #5B1B74;  // Links        | Purple        |
$color-third: #EF6E04;      // Highlights   | Orange        | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #F7D050; //           | Yellow        |
$color-alternate-gateway: #F7D050; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-primary;
    &:hover {
        color: $color-third;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;
                    &:hover {
                        color:$color-third;
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-alternate-faq;

    svg {
        path {
            fill: $color-alternate-faq;
        }
    }
}