﻿
$color-primary: #1313C6;    // Main Colour  | Blue          |
$color-secondary: #1313C6;  // Links        | Blue          |
$color-third: #C41215;      // Highlights   | Red           |
$color-accent: #107CB1;     // Accent       | Dark Aqua     |

$color-alternate-faq: lighten(#107CB1, 20%); // | Dark Aqua | This had to be lightened to show
$color-alternate-gateway: #C41215; //       | Red           |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;
                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}


