﻿
$color-primary: #010177;    // Main Colour  | Dark Blue     |
$color-secondary: #010177;  // Links        | Dark Blue     |
$color-third: #6ECA6D;      // Highlights   | Green         |
$color-accent: #af59ba;     // Accent       | Pink          |

//$color-alternate-faq: #FAC800; //           | Yellow        |
//$color-alternate-gateway: #FFCF00; //       | Yellow        |


@import "../index";


/* GATEWAY */
.gateway-results {
    &--grid {
        &__link {
            &:hover {
                .gateway-results--grid__content {
                    h2 {
                        color: $color-third;
                    }
                }

                .gateway-results--grid__button {
                    circle {
                        fill: $color-third;
                    }

                    path {
                        fill: $color-accent;
                    }
                }
            }
        }
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-third;

                    &:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}
