﻿
$color-primary: #024987;    // Main Colour  | Blue          |
$color-secondary: #697269;  // Links        | Grey/Green    |
$color-third: #B78E06;      // Highlights   | Gold          | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #F9CF43; //           | Yellow        |
$color-alternate-gateway: #F9CF43; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: #0267C0;

    &:hover {
        color: #B78E06;
    }
}


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-primary, 20%);
                    }
                }
            }
        }
    }
}
