﻿
$color-primary: #32538F;    // Main Colour  | Dark Blue     |
$color-secondary: #EDA812;  // Links        | Yellow        |
$color-third: #585A5A;      // Highlights   | Grey          |
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #F5CB70; //           | Yellow        |
$color-alternate-gateway: #F5CB70; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: #216A91;

    &:hover {
        color: #9C6D07;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-secondary;

                    &:hover {
                        color: lighten($color-third, 20%);
                    }
                }
            }
        }
    }
}