﻿
$color-primary: #651224;    // Main Colour  | Dark Red      |
$color-secondary: #087AAA;  // Links        | Light Blue    |
$color-third: #087AAA;      // Highlights   | Light Blue    |
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #FFCF00; //           | Yellow        |
$color-alternate-gateway: #FFCF00; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-secondary;

    &:hover {
        color: #FFCF00;
    }
}