﻿
$color-primary: #007B5D;    // Main Colour  | Aqua/Green    |
$color-secondary: #C5103B;  // Links        | Red           |
$color-third: #187BA5;      // Highlights   | Blue          | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #95D1F9; //           | Light Blue    |
$color-alternate-gateway: #95D1F9; //       | Light Blue    |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            border: 2px solid $color-third;
            background-color: $color-third;
        }
    }
}
