﻿
$color-primary: #1F5325;    // Main Colour  | Dark Green    |
$color-secondary: #013C4E;  // Links        | Dark Blue     |
$color-third: #5C832F;      // Highlights   | Green         | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #F6C113; //           | Yellow        |
$color-alternate-gateway: #F6C113; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-secondary;

    &:hover {
        color: #F6C113;
    }
}


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-secondary, 20%);
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-alternate-faq;

    svg {
        path {
            fill: $color-alternate-faq;
        }
    }
}