﻿
$color-primary: #1C1152;    // Main Colour  | Dark Blue     |
$color-secondary: #AC1524;  // Links        | Red           |
$color-third: #B38F00;      // Highlights   | Gold          | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #B38F00; //           | Gold          |
$color-alternate-gateway: #B38F00; //       | Gold          |


@import "../index";


