﻿
$color-primary: #474747;    // Main Colour  | Dark Grey     |
$color-secondary: #474747;  // Links        | Dark Grey     |
$color-third: #FAC800;      // Highlights   | Yellow        |
$color-accent: #757575;     // Accent       | Grey          |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: darken($color-third, 5%);

    &:hover {
        color: lighten($color-accent, 20%);
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-accent, 20%);
                    }
                }
            }
        }
    }
}

