﻿
$color-primary: #0B17C1;    // Main Colour  | Blue          |
$color-secondary: #008556;  // Links        | Green         |
$color-third: #008556;      // Highlights   | Green         |
$color-accent: #008556;     // Accent       | Green         |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}


