﻿
$color-primary: #0061C2;    // Main Colour  | Blue          |
$color-secondary: #757575;  // Links        | Grey          |
$color-third: #EB0004;      // Highlights   | Red           |
$color-accent: #757575;     // Accent       | Grey          |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #EB0004; //       | Red           |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-primary;

    &:hover {
        color: $color-third;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-alternate-faq;

    svg {
        path {
            fill: $color-alternate-faq;
        }
    }
}
