﻿
$color-primary: #000A99;    // Main Colour  | Blue          |
$color-secondary: #0074E0;  // Links        | Light Blue    |
$color-third: #0074E0;      // Highlights   | Light Blue    |
$color-accent: #339CFF;     // Accent       | Lighter Blue  |

$color-alternate-faq: #339CFF; //           | Lighter Blue  |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-alternate-gateway;
                    }
                }
            }
        }
    }
}


