﻿
$color-primary: #0B17C1;    // Main Colour  | Blue          |
$color-secondary: #0B17C1;  // Links        | Blue          |
$color-third: #FAC800;      // Highlights   | Yellow        |
$color-accent: #52ABFF;     // Accent       | Lighter Blue  |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}


