﻿
$color-primary: #2A7E3A;    // Main Colour  | Dark Green    |
$color-secondary: #2A7E3A;  // Links        | Dark Green    |
$color-third: #DD0000;      // Highlights   | Red           |
$color-accent: #FAC800;     // Accent       | Yellow        |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #DD0000; //       | Red           |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}

