﻿
$color-primary: #1F5325;    // Main Colour  | Dark Green    |
$color-secondary: #1F5325;  // Links        | Dark Green    |
$color-third: #FAC800;      // Highlights   | Yellow        |
$color-accent: #024987;     // Accent       | Dark Blue     |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #C9C9C9; //       | Grey        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-alternate-gateway;
                    }
                }
            }
        }
    }
}

/* ALERT OVERWRITE */
.site-alert__button {
    color: $color-third;

    &:hover {
        color: $color-accent;

        svg {
            path {
                fill: $color-accent;
            }
        }
    }

    svg {
        path {
            fill: $color-third;
        }
    }
}
