﻿
$color-primary: #651224;    // Main Colour  | Dark Red      |
$color-secondary: #57585C;  // Links        | Dark Grey     |
$color-third: #087AAA;      // Highlights   | Aqua          |
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #0BAAEF; //           | Light Blue    |
$color-alternate-gateway: #0BAAEF; //       | Light Blue    |


@import "../index";


/* LINK OVERWRITE */
a {
    color: $color-third;

    &:hover {
        color: $color-primary;
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}
