﻿
$color-primary: #0D5B1E;    // Main Colour  | Dark Green    |
$color-secondary: #0D5B1E;  // Links        | Dark Green    |
$color-third: #969191;      // Highlights   | Grey          |
$color-accent: #969191;     // Accent       | Grey          |

$color-alternate-faq: #FFE066; //           | Yellow        |
//$color-alternate-gateway: #FFCF00; //     | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: lighten($color-primary, 20%);

    &:hover {
        color: lighten($color-third, 20%);
    }
}

/* GATEWAY */
.gateway-results {
    &--grid {
        &__link {
            &:hover {
                .gateway-results--grid__content {
                    h2 {
                        color: $color-third;
                    }
                }

                .gateway-results--grid__button {
                    circle {
                        fill: $color-third;
                    }

                    path {
                        fill: $color-primary;
                    }
                }
            }
        }
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-third, 20%);
                    }
                }
            }
        }
    }
}