﻿
$color-primary: #000A99;    // Main Colour  | Blue          |
$color-secondary: #105BCB;  // Links        | Blue Light    |
$color-third: #105BCB;      // Highlights   | Blue Light    |
$color-accent: #339CFF;     // Accent       | Lighter Blue  |

$color-alternate-faq: #FAC800; //           | Yellow        |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}
