﻿
$color-primary: #000A99;    // Main Colour  | Dark Blue     |
$color-secondary: #0074E0;  // Links        | Light Blue    |
$color-third: #0074E0;      // Highlights   | Light Blue    |
$color-accent: #4DDB00;     // Accent       | Lime Green    |

$color-alternate-faq: #4DDB00; //           | Lime Green    |
$color-alternate-gateway: #339CFF; //       | Light Blue     |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-alternate-gateway;
                    }
                }
            }
        }
    }
}