﻿
$color-primary: #005994;    // Main Colour  | Blue          |
$color-secondary: #0E77B9;  // Links        | Light Blue    |
$color-third: #FFCF00;      // Highlights   | Yellow        | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #FFCF00; //           | Yellow        |
$color-alternate-gateway: #FFCF00; //       | Yellow        |


@import "../index";

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: lighten($color-secondary, 20%);
                    }
                }
            }
        }
    }
}