﻿
$color-primary: #0054A8;    // Main Colour  | Dark Blue     |
$color-secondary: #0054A8;  // Links        | Dark Blue     |
$color-third: #737373;      // Highlights   | Grey          |
$color-accent: #FAC800;     // Accent       | Yellow        |

$color-alternate-faq: #737373; //           | Grey          |
$color-alternate-gateway: #FAC800; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq; // This will probably need changed

                    &:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}


