﻿
$color-primary: #137121;    // Main Colour  | Dark Green    |
$color-secondary: #137121;  // Links        | Dark Green    |
$color-third: #82F868;      // Highlights   | Light Green   |
$color-accent: #FFFFFF;     // Accent       | White         |

$color-alternate-faq: #FFE066; //           | Yellow        |
$color-alternate-gateway: #FFCF00; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: lighten($color-primary, 20%);

    &:hover {
        color: darken($color-alternate-faq, 20%);
    }
}

/* GATEWAY */
.gateway-results {
    &--grid {
        &__item {
            border-top: 8px solid $color-third;
        }
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}
