﻿
$color-primary: #0722CA;    // Main Colour  | Blue          |
$color-secondary: #0722CA;  // Links        | Blue          |
$color-third: #82F868;      // Highlights   | Light Green   |
$color-accent: #FFFFFF;     // Accent       | White         |

$color-alternate-faq: #FFE066; //           | Yellow        |
//$color-alternate-gateway: #FFCF00; //     | Yellow        |


@import "../index";


/* GATEWAY */
.gateway-results {
    &--grid {
        &__item {
            border-top: 8px solid $color-third;
        }

        &__link {
            &:hover {
                .gateway-results--grid__content {
                    h2 {
                        color: $color-third;
                    }
                }

                .gateway-results--grid__button {
                    circle {
                        fill: $color-third;
                    }

                    path {
                        fill: $color-primary;
                    }
                }
            }
        }
    }
}

/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
}