﻿
$color-primary: #3B1D4A;    // Main Colour  | Dark Purple   |
$color-secondary: #068184;  // Links        | Aqua          |
$color-third: #FFCF00;      // Highlights   | Yellow        | 
//$color-accent: #079bef;   // ???          | ???           |

$color-alternate-faq: #FFCF00; //           | Yellow        |
$color-alternate-gateway: #FFCF00; //       | Yellow        |


@import "../index";


/* LINK OVERWRITE */
a {
    color: #793C9A;

    &:hover {
        color: $color-third;
    }
}