﻿
$color-primary: #000B8A;    // Main Colour  | Dark Blue     |
$color-secondary: #EB0004;  // Links        | Red           |
$color-third: #EB0004;      // Highlights   | Red           |
$color-accent: #FF4D4F;     // Accent       | Light Red     |

$color-alternate-faq: #FAC800; //           | Yellow        |
//$color-alternate-gateway: #FFCF00; //       | Yellow        |


@import "../index";


/* FAQ OVERWRITE */
.faq {
    &__item {
        &.active {
            .faq__body {
                a {
                    color: $color-alternate-faq;

                    &:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}