﻿
.banner {
    background-color: $color-primary;
    padding: 30px 0;

    h1 {
        @include container();
        color: $white;
    }


}

.page-banner {
    width:100%;
    margin-bottom:30px;
}

.banner-with-svg {
    background-color: $color-primary;
    padding: 30px 0;

    .banner__holder {
        @include container();
        flex-direction:row;
        align-items:center;
        h1 {
            display: inline;
            padding: 0 0 0 50px;
            color: $white;
            width:auto;
            @media screen and (max-width:$breakpoint-sm) {
                padding: 0 0 0 30px;
            }
        }

        svg {
            @media screen and (max-width:$breakpoint-sm) {
                width:80px;
            }
        }
    }
}
