﻿
.breadcrumb-trail {
    display: flex;

    border-bottom: 1px solid $whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (max-width:$breakpoint-xs) {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction:row;

        @include container();
    }

    &__item {
        display: inline;
        font-size: 0.9em;
    }

    &__link {
        color: $slategray;
        font-weight: 300;
    }

    &__child {
        font-weight: 500;
    }

    &__spacer {
        display: inline;
        font-size: 0.9em;
        margin: 0 5px;
    }
}
