﻿
.button--primary {
    min-height: 55px;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width:$breakpoint-xs) {
        font-size: 16px;
        min-height: 45px;
    }

    &.box {
        display: inline-block;
        border-radius: 28px;
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        color: $white;
        text-align: center;
        padding: 12px 25px;
        text-transform: uppercase;
        min-width: 150px;
        cursor: pointer;
        @include transition(0.5s all ease-out);

        @media screen and (max-width:$breakpoint-xs) {
            min-width: 130px;
            padding: 7px 20px;
        }

        &:hover {
            background-color: $white;
            color: $color-secondary;
        }
    }

    &.search {
        padding: 12px 55px 12px 30px;
        background-image: url('/content/images/svg/Search-button-icon.svg');
        background-repeat: no-repeat;
        background-position: top 50% right 20px;

        &:hover {
            background-image: url('/content/images/svg/Search-icon.svg');
        }
    }
}

.button--link {
    font-size: 28px;
    font-weight: 400;
    padding: 0 30px 0 0;
    position: relative;
    color: $color-secondary;
    @include transition(0.5s all ease-out);

    svg {
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        top: 50%;

        path {
            fill: $color-third;
            @include transition(0.5s all ease-out);
        }
    }

    &:hover {
        background-color: $white;
        color: $slategray;

        svg {
            fill: $slategray;
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        font-size: 16px;
    }
}

.button--panel {
    font-weight: 500;
    padding: 10px 0 10px 35px;
    position: relative;
    color: $color-secondary;
    @include transition(0.5s all ease-out);
    svg {
        position:absolute;
        left:0;
        top:50%;
        transform:translateY(-50%);
        path {
            fill: $color-third;
            @include transition(0.5s all ease-out);
        }
    }
    &:hover {
        color: $slategray;
        svg {
            path {
                fill: $slategray;
            }
        }

    }
    @media screen and (max-width:$breakpoint-xs) {
        font-size:16px;
    }
}

.button--back {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0 20px 30px;
    display: block;
    position: relative;
    color: $color-secondary;
    @include transition(0.5s all ease-out);

    svg {
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        top: 50%;
        width: 20px;
        height: 20px;

        path {
            fill: $color-third;
            @include transition(0.5s all ease-out);
        }
    }

    &:hover {
        color: $slategray;

        svg {
            path {
                fill: $slategray;
            }
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        font-size: 16px;
    }
}
