﻿.fc-clear {
    clear: both;
}

#calendar {
    .fc-toolbar {
        margin-bottom: 5px;

        .fc-left, .fc-right {
            button.fc-prev-button, button.fc-next-button {
                background-color: transparent;
                background-image: none;
                padding: 0;
                border: 0;
                pointer-events: all;
                text-shadow: none;
                box-shadow: none;

                span {
                    width: 25px;
                    height: 25px;
                    background-repeat: no-repeat;
                    background-position: left 50%;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        .fc-left {
            position: relative;
            display: block;

            button.fc-prev-button {
                float: left;

                span {
                    background-image: url('/content/images/svg/Red-circle-arrow-left.svg');
                    @include transition(0.5s all ease-out);
                }

                &:hover {
                    span {
                        background-image: url('/content/images/svg/Red-circle-arrow-hover-left.svg');
                    }
                }
            }

            button.fc-today-button {
                display: none;
            }
        }

        .fc-right {
            position: relative;
            display: block;

            button.fc-next-button {
                float: right;

                span {
                    background-image: url('/content/images/svg/Red-circle-arrow.svg');
                    @include transition(0.5s all ease-out);
                }

                &:hover {
                    span {
                        background-image: url('/content/images/svg/Red-circle-arrow-hover.svg');
                    }
                }
            }

            .fc-button-group {
                button.fc-month-button {
                }

                button.fc-agendaWeek-button {
                }

                button.fc-agendaDay-button {
                }

                button.fc-listweek-button {
                }
            }
        }

        .fc-center {
            h2 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 0 !important;

        thead {
            background-color: $color-primary;
            border-color: $grey;

            tr {
                th {
                    text-align: left;
                    color: $white;
                    text-transform: uppercase;
                    padding: 7px;
                    font-weight: 500;
                    font-size: 16px;
                    border-color: $grey;

                    @media screen and (max-width:$breakpoint-xs) {
                        color: transparent;
                        font-size: 0;

                        &:first-letter {
                            color: $white;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                border: 0 !important;

                &:first-of-type {
                    background-color: $color-primary;

                    td {
                        font-weight: 700;
                    }
                }

                th {
                    background-color: $color-primary;
                    color: $white;
                    font-weight: 500;
                }

                td {
                    border: 1px solid $grey;
                    color: $color-primary;
                    padding: 0;
                    background-color: $white;

                    &:first-of-type {
                        border-left: 0;
                    }

                    &:last-of-type {
                        border-right: 0;
                    }

                    .fc-day-number {
                        font-size: 14px;
                        text-align: left;
                        color: $slategray;
                        float: none;
                        padding: 0px 7px;
                    }

                    .fc-other-month {
                        opacity: 1;

                        .fc-day-number {
                            color: $grey;
                        }
                    }

                    &.fc-day-top {
                        background-color: $whitesmoke;
                    }

                    &.fc-widget-content {
                        .fc-scroller {
                            height: auto !important;

                            .fc-day-grid {
                                .fc-row.fc-week {
                                    height: 180px !important;

                                    .fc-bg {
                                    }

                                    .fc-content-skeleton {
                                        table {
                                            width: 100%;
                                            border: 0;

                                            tbody {
                                                tr {
                                                    td {
                                                        background-color: $white;
                                                        border-bottom: 1px solid $white;

                                                        &:first-of-type {
                                                            border-left: 0;
                                                        }

                                                        &:last-of-type {
                                                            border-right: 0;
                                                        }
                                                    }

                                                    td.fc-event-container {
                                                        background-color: $white;
                                                        font-size: 11px;
                                                        padding: 15px 7px;
                                                        font-weight: 600;
                                                        color: $color-secondary;
                                                        border-bottom: 1px solid $grey;

                                                        a.fc-day-grid-event {
                                                            background-color: transparent;
                                                            color: $color-secondary;
                                                            border: 0;
                                                            font-size: 1em;
                                                            margin: 0;

                                                            .fc-content {
                                                                white-space: normal;

                                                                .fc-time, .fc-title {
                                                                    font-weight: 600;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    td.fc-more-cell {
                                                        background-color: $white;
                                                        font-size: 11px;
                                                        padding: 7px;
                                                        font-weight: 600;
                                                        color: $color-secondary;
                                                        border-bottom: 1px solid $grey;

                                                        a.fc-more {
                                                            margin: 0;
                                                            font-size: 1em;
                                                            color: $color-secondary;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ui-dialog {
        z-index: 9999 !important;

        .ui-dialog-content {
            position: fixed !important;
            padding: 0 !important;
        }
    }

    @media screen and (max-width:$breakpoint-sm) {
        .fc-listMonth-view {
            border-top: 0;
        }

        .fc-scroller {
            height: auto !important;

            table {
                border: 0;
                display: flex;
                width: 100%;
                flex: 1 0 100%;

                tbody {
                    display: flex;
                    flex: 1 0 100%;
                    flex-direction: row;
                    border: 0;
                    width: 100%;
                    align-items: stretch;
                    flex-wrap: wrap;

                    tr {
                        display: inline-flex;
                        flex-direction: row;

                        &.fc-list-heading {
                            flex: 0 0 10%;
                            flex-direction: column;
                            background-color: $white;
                            border-top: 1px solid $grey !important;

                            & + .fc-list-item {
                                flex: 0 0 90%;
                                margin-left: 0;
                            }
                            /*@media screen and (max-width:580px) {
                                flex: 0 0 15%;

                                & + .fc-list-item {
                                    flex: 0 0 85%;
                                    padding-left: 0;
                                }
                            }*/
                            @media screen and (max-width:$breakpoint-md) {
                                flex: 0 0 20%;

                                & + .fc-list-item {
                                    flex: 0 0 80%;
                                    margin-left: 0;
                                }
                            }

                            .fc-widget-header {
                                flex-direction: column;
                                border: 0;
                                width: 30px;
                                height: 30px;
                                padding: 10px;
                                background-color: $whitesmoke;
                                overflow: hidden;

                                span {
                                    color: $color-primary;
                                    display: block;
                                    float: none;

                                    &.fc-list-heading-main {
                                        text-align: center;
                                    }

                                    &.fc-list-heading-alt {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.fc-list-item {
                            display: flex;
                            flex: 1 1 100%;
                            flex-direction: column;
                            border-top: 1px solid $grey !important;
                            margin-left: 20%;

                            @media screen and (max-width:$breakpoint-md) {
                                margin-left: 20%;
                            }

                            td {
                                display: flex;
                                border: 0;
                                padding: 10px;
                                width: 100%;
                                font-size: 0.9em;

                                &.fc-list-item-marker {
                                    display: none;
                                }

                                &.fc-list-item-time {
                                    order: 2;
                                    color: $color-secondary;
                                }

                                &.fc-list-item-title {
                                    order: 1;
                                }

                                a {
                                    color: $color-secondary;
                                    font-weight: 500;
                                }
                            }
                        }

                        td {
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

.ui-dialog {
    z-index: 9999 !important;
    width: auto !important;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    display: none;
}

.fc button {
    height: auto;
}


.calendar-popup {
    display: none;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    z-index: 9999 !important;
    padding: 0 !important;

    &__background {
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0,0.6);
    }

    &__holder {
        @include container-2col();
        height: 100%;
        position: relative;
    }

    &__popup {
        border: 10px solid $color-primary;
        background-color: $white;
        width: 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        display: block;
        padding: 30px 50px 50px;

        @media screen and (max-width:$breakpoint-md) {
            padding: 30px 35px;
            width: 90%;
        }

        @media screen and (max-width:$breakpoint-xs) {
            padding: 30px 20px;
        }
    }

    &__date {
        font-size: 46px;
        line-height: 32px;
        text-align: center;
        float: left;
        margin-bottom: 20px;

        span {
            display: block;
            font-size: 22px;
            text-transform: uppercase;
        }
    }

    &__content {
        clear: both;

        h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
            margin: 0;
        }

        h5 {
            font-size: 20px;
        }

        p {
            padding: 10px 0;
            font-weight: 500;
            opacity: 0.9;
        }
    }

    &__close {
        position: absolute;
        top: -8px;
        right: -10px;
        background-color: $color-primary;
        color: white;
        margin-top: -1px;
        padding: 16px 22px 12px 20px;
        border-radius: 0 0 0 25px;
        font-weight: 500;
        cursor: pointer;
        @include transition(0.5s all ease-out);

        svg {
            width: 16px;
            height: 16px;
            margin-left: 10px;

            path {
                fill: $white;
            }
        }

        &:hover {
            background-color: $color-secondary;
        }
    }
}
