﻿
/* CAROUSEL RESET */
#carousel.owl-carousel {
    flex: none;

    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    .owl-stage-outer {
        display: inline-block;
        width: 100%;
        overflow: hidden;

        .owl-stage {
            display: inline-block;

            .owl-item {
                display: inline-block;

                .item {
                    display: inline-block;

                    picture {
                        display: inline-block;

                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .owl-nav {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        width: 100%;
        display: block;
        pointer-events: none;

        @media screen and (max-width:$breakpoint-sm) {
            top: 40%;
        }

        .carousel__nav--prev, .carousel__nav--next {
            pointer-events: all;
            width: 52px;
            height: 90px;
            display: block;
            background-repeat: no-repeat;
            color: transparent;
            padding:0;
            border:0;
            background-color:transparent;
            svg {
                #circle {
                    fill:$color-primary;
                    @include transition(0.5s all ease-out);
                }
                #arrow {
                    fill:$white;
                    @include transition(0.5s all ease-out);
                }
            }
            &:hover {
                svg {
                    #circle {
                        fill:$white;
                    }
                    #arrow {
                        fill:$color-primary;
                    }
                }
                cursor: pointer;
            }
            @media screen and (max-width:$breakpoint-sm) {
                width: 31px;
                height: 54px;
                background-size: 31px 54px;
            }
        }

        .owl-prev {
            float: left;
        }

        .owl-next {
            float: right;
        }
    }

    .owl-dots {
        position: absolute;
        left: 5%;
        bottom: 30px;
        width: 90%;
        text-align: right;
        pointer-events: none;

        .owl-dot {
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 50%;
            border: 2px solid $color-primary;
            background-color: $white;
            margin-left: 10px;
            pointer-events: all;
            @include transition(0.5s all ease-out);

            &:hover {
                cursor: pointer;
                background-color: $color-primary;
            }

            &.active {
                background-color: $color-primary;
            }
        }

        @media screen and (max-width:$breakpoint-xs) {
            display: none;
        }
    }
}

.carousel-holder {
    position: relative;

    .carousel {
        margin: 0 auto;
        max-width: 1920px;

        &__item {
        }

        &__image {
            position: relative;

            picture {
                img {
                }
            }
        }

        &__content {
            position: absolute;
            left: 5%;
            bottom: 70px;
            width: 90%;
            background-color: rgba($color-primary, 0.85);
            padding: 20px 30px 30px;
            margin: 0 auto;

            h1 {
                color: $white;
                text-align: center;
                margin: 0;
                font-size: 50px;

                @media screen and (max-width:$breakpoint-sm) {
                    font-size: 30px;
                }

                @media screen and (max-width:$breakpoint-xs) {
                    font-size: 26px;
                }
            }

            p, a {
                font-size: 24px;
            }

            @media screen and (max-width:$breakpoint-md) {
                bottom: 30px;
            }

            @media screen and (max-width:$breakpoint-sm) {
                position: static;
                width: 100%;
                margin: 0;
                left: 0;
                bottom: 0;
                padding: 15px 30px 20px;
                background-color: rgba($color-primary, 1);
            }
        }

        &__link {
        }

        &__button {
            width: 90px;
            height: 47px;
            display: block;
            left: 50%;
            bottom: 7px;
            position: absolute;
            transform: translateX(-50%);
            @include transition(0.5s all ease-out);

            &.no-nav {
                bottom: -1px;
            }

            svg {
                #circle {
                    fill: $white;
                    @include transition(0.5s all ease-out);
                }

                #arrow {
                    fill: $color-primary;
                    @include transition(0.5s all ease-out);
                }
            }

            &:hover {
                cursor: pointer;

                svg {
                    #circle {
                        fill: $color-primary;
                    }

                    #arrow {
                        fill: $white;
                    }
                }
            }

            @media screen and (max-width:$breakpoint-md) {
                display: none;
            }
        }
    }
}