﻿
.faq {

    &__group {
        width: 100%;
        display: block;
    }

    &__list {
        width: 100%;
        display: block;
        padding-bottom: 20px;
    }

    &__item {
        border: 2px solid $color-secondary;
        min-height: 70px;
        border-radius: 35px;
        color: $color-secondary;
        margin-bottom: 20px;
        background-color: $white;
        @include transition(0.5s all ease-out);

        &:hover {
            background-color: $color-secondary;

            .faq__head {
                a {
                    color: $white;
                }
            }
        }

        &.active {
            border: 2px solid $color-primary;
            background-color: $color-primary;
            color: $white;
        }
    }


    &__head {
        padding: 14px 50px 14px 35px;
        position: relative;
        @include transition(0.5s all ease-out);

        &.active {
            .faq__button {
                svg {
                    path {
                        fill: $white;
                    }

                    #vertical-1 {
                        fill: transparent;
                    }

                    #vertical-2 {
                        fill: transparent;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                a {
                    color: $color-alternate-faq;
                }

                .faq__button {
                    svg {
                        path {
                            fill: $color-alternate-faq;
                        }
                    }
                }
            }

            a {
                color: $white;
            }
        }

        &.inactive {
            &:hover {
                color: $white;
                cursor: pointer;

                .faq__button {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }

            a {
                color: $color-secondary;
            }
        }
    }

    &__link {
        width: 100%;
        font-size: 24px;
        color: $color-secondary;
    }

    &__button {
        position: absolute;
        top: 17px;
        right: 20px;

        svg {
            path {
                fill: $color-secondary;
                @include transition(0.5s all ease-out);
            }
        }
    }

    &__body {
        padding: 20px 35px;
        margin: 0;

        h1, h2, h3, h4, h5, h6, ul, ol, li, p {
            color: $white;
        }
    }
}
