﻿
.feature {
    &__panel {
        display: flex;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;

        @media screen and (max-width:$breakpoint-xs) {
            flex-direction: column;
        }
    }

    &__item {
        margin-top: 30px;
        width: 100%;

        &:nth-of-type(odd) {
            margin-right: 75px;
        }

        @media screen and (max-width:$breakpoint-xs) {
            &:nth-of-type(odd) {
                margin-right: 0;
            }
        }
    }

    &__link {
        display: block;

        &:hover {
            .feature__button {
                color: $slategray;
                @include transition(0.5s all ease-out);

                svg {
                    path {
                        fill: $slategray;
                    }
                }
            }

            .feature__image {
                picture {
                    img {
                        transform: scale(1.2, 1.2);
                    }
                }
            }
        }
    }

    &__content {
        width: 100%;
        display: block;
        padding: 30px 0 50px;
    }

    &__image {
        picture {
            display: inline-block;
            overflow: hidden;

            img {
                transform: scale(1, 1);
                @include transition(0.5s all ease-out);
            }
        }
    }

    &__button {
    }


    &--side {
        &__panel {
            display: flex;
            width: 100%;
            flex: 1 0 100%;
        }

        &__list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            flex: 1 0 100%;
        }

        &__item {
            margin-top: 30px;
            width: 100%;
            background-color: $color-primary;
        }

        &__link {
            display: block;

            &:hover {
                .feature--side__content {
                    h4 {
                        color: $color-secondary;
                    }
                }

                .feature--side__button {
                    background-color: #fff;
                    color: #0182a0;
                }

                .feature--side__image {
                    picture {
                        img {
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
            }
        }

        &__content {
            width: 100%;
            display: block;
            padding: 30px 50px 50px;

            h4 {
                color: $white;
                @include transition(0.5s all ease-out);
            }
        }

        &__image {
            picture {
                display: inline-block;
                overflow: hidden;

                img {
                    transform: scale(1, 1);
                    @include transition(0.5s all ease-out);
                }
            }
        }

        &__button {
        }
    }


    &--home {
        &__panel {
            display: flex;
            width: 100%;
            padding-top: 80px;
            padding-bottom: 100px;
            background-color: $color-accent;

            @media screen and (max-width:$breakpoint-xs) {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        &__list {
            @include container();
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-flow: row wrap;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;

            @media screen and (max-width:$breakpoint-xs) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__item {
            flex: 0 0 30%;

            @media screen and (min-width:769px) {
                &:nth-of-type(3n+2) {
                    margin-left: 5%;
                    margin-right: 5%;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }

            @media screen and (max-width:$breakpoint-md) {
                margin-bottom: 30px;
            }

            @media screen and (max-width:$breakpoint-sm) {
                flex: 0 0 47%;
                margin-right: 6%;
                margin-bottom: 30px;

                &:nth-of-type(2n+2) {
                    margin-right: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }

            @media screen and (max-width:$breakpoint-xs) {
                flex: 0 0 auto;
                width: 100%;
                margin-right: 0;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            position: relative;
            width: 100%;
            display: block;

            &:hover {
                .feature--home__content {
                    h4 {
                        color: $slategray;
                    }

                    svg {
                        path {
                            fill: $slategray;
                        }
                    }
                }

                .feature--home__image {
                    picture {
                        img {
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
            }
        }

        &__content {
            z-index: 5;
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;
            padding: 30px;

            @media screen and (max-width:$breakpoint-md) {
                padding: 20px;
            }

            h4 {
                width: 100%;
                display: block;
                margin: 0 auto;
                padding: 5px 40px 5px 15px;
                background-color: rgba(255,255,255,0.95);
                color: $color-secondary;
                @include transition(0.5s all ease-out);

                @media screen and (max-width:$breakpoint-md) {
                    padding: 10px 40px 10px 15px;
                }
            }

            svg {
                position: absolute;
                right: 45px;
                top: 45px;

                path {
                    fill: $color-third;
                    @include transition(0.5s all ease-out);
                }

                @media screen and (max-width:$breakpoint-md) {
                    top: 35px;
                    right: 35px;
                }
            }
        }

        &__image {
            z-index: 2;
            line-height: 0;

            picture {
                display: inline-block;
                overflow: hidden;

                img {
                    transform: scale(1, 1);
                    @include transition(0.5s all ease-out);
                }
            }
        }
    }
}
