﻿.footer-logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width:$breakpoint-md) {
        justify-content: flex-start;
    }

    &__list {
        @include list;
        display: flex;
    }

    &__item {
        font-size: 15px;
        margin-left: 20px;

        @media screen and (max-width:$breakpoint-sm) {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }

    &__link {
    }
}
