﻿
.footer-text {
    display: flex;
    justify-content:flex-end;
    flex-grow:1;
    flex-direction:column;

    padding: 0;
    text-align: left;

    h5 {
        margin-top: 0;
        font-weight: 600;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
}
