﻿
.footer-links {
    display: flex;
    flex-direction:column;

    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding-bottom: 10px;

        a {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
