﻿footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 120px;
    border-top: 1px solid $whitesmoke;

    .footer__main-row {
        display: flex;
        flex-direction: row;
        padding: 100px 0;
        width: 100%;

        .container {
            flex-direction: row;

            .footer-column {
                display: flex;
                flex-direction: column;
                flex: 0 0 25%;
                align-items: stretch;

                h5 {
                    width: 90%;
                    margin-top: 0;
                    margin-right: 10%;
                    margin-bottom: 20px;
                    font-weight: 600;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $whitesmoke;
                }
            }
        }

        @media screen and (max-width:$breakpoint-md) {
            .container {
                flex-wrap: wrap;

                .footer-column {
                    flex: 0 0 50%;

                    &:nth-of-type(4n+3) {
                        margin-top: 50px;
                    }

                    &:last-of-type {
                        margin-top: 50px;
                        width: 100%;
                    }
                }
            }
        }

        @media screen and (max-width:$breakpoint-sm) {
            padding: 30px 0;

            .container {
                flex-wrap: wrap;
                flex-direction: column;

                .footer-column {
                    flex: none;
                    margin-top: 20px;
                    width: 100%;

                    &:not(:first-of-type) {
                        margin-top: 50px;
                    }

                    h5 {
                        width: 100%;
                    }
                }
            }
        }
    }

    .footer__bottom-row {
        display: flex;
        flex-direction: row;
        border-top: 1px solid $whitesmoke;
        width: 100%;
        padding-top: 20px;

        .container {
            .copyright {
                float: left;
                width: 50%;

                p {
                    font-size: 16px;
                }
            }

            .innovation {
                float: left;
                width: 50%;
                text-align: right;

                p {
                    font-size: 16px;
                }
            }
        }

        @media screen and (max-width:$breakpoint-sm) {
            .container {
                padding-top: 30px;

                .copyright, .innovation {
                    float: none;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}
