﻿.footer-menu {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    flex-grow: 12;

    &__list {
        @include list;
        display: flex;
        flex:1 1 0;
    }

    &__item {
        font-size: 15px;
        padding-right: 20px;
        color: $color-primary;

        a {
            color: $color-primary;

            &:hover {
                color: $color-secondary;
            }

            &.active {
                font-weight: bold;
            }
        }

        &--active {
            a {
                font-weight: bold;
                font-size: 15px;
                color: $color-third;
            }
        }
    }

    @media screen and (max-width:$breakpoint-md) {
        &__list {
            flex-wrap:wrap;
        }

        &__item {
            padding-right: 15px;
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        flex:none;

        &__list {
            flex-direction:column;
            flex-shrink:1;
        }

        &__item {
            a {
            }
        }
    }
}
