﻿
.grouped-links {
    display: flex;
    flex-direction:column;

    clear: both;

    @media screen and (max-width:$breakpoint-sm) {
        width: 100%;
        padding: 0 0 50px 0;
    }

    &__holder {
        &:empty {
            display:none;
        }
    }

    &__heading {
        border-bottom: 1px solid $grey;
        margin: 0 0 10px;
        padding-bottom: 10px;
    }

    &__subheading {
        font-size: 20px;
        margin: 10px 0 20px;
        opacity: 0.8;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 7px;
    }

    &__link {
        font-weight: 500;
        position: relative;
        padding-left: 35px;
        display: block;

        svg {
            position: absolute;
            left: 0;
            top: 0;
            vertical-align: middle;
            margin: 3px 0 0;

            path {
                fill: $color-third;
                @include transition(0.5s all ease-out);
            }
        }

        &:hover {
            color: $slategray;

            svg {
                path {
                    fill: $slategray;
                }
            }
        }
    }
}
