﻿.header-logo-text {
    display: flex;
    align-items:center;

    height: 90px;
    h1 {
        margin: 0;
        font-weight: 600;
        font-size: 42px;
        color: $color-primary;

        a {
            color: $color-primary;

            &:hover {
                color: $color-third;
            }
        }
    }

    @media screen and (max-width:1600px) {
        h1 {
            font-size: 30px;
        }
    }

    @media screen and (max-width:$breakpoint-md) {
        flex-grow: 4;
    }

    @media screen and (max-width:$breakpoint-sm) {
        h1 {
            font-size: 26px;
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        height: 60px;

        h1 {
            font-size: 18px;
        }
    }
}
