﻿
.header-links {
    display: flex;
    align-content:flex-end;
    flex-direction:row;
    align-items:flex-end;

    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        align-items:stretch;
    }

    &__link {
        align-self:stretch;

        padding: 15px 30px;
        line-height: 50px;
        border-left: 1px solid $whitesmoke;
        font-weight: 500;
        color: $color-primary;

        &:hover {
            color: $color-third;
        }
    }
}

#mobile-header-links {
    @media screen and (min-width:$breakpoint-sm) {
        display:none;
    }
    border-top: 1px solid $whitesmoke;
    padding:10px 0;
    .header-links {
        display:flex;
        align-content:flex-start;
        flex-direction:column;
        &__item {
            align-items:flex-start;
            width: 100%;
        }

        &__link {
            align-self:flex-start;

            width: 100%;
            display:block;
            padding: 10px 50px;
            line-height: 1em;
            border-left: 0;
            font-weight: 300;
            font-size:0.9em;
            color: $white;
        }
    }
}
