﻿header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    //height: 141px;
    border-bottom: 1px solid $slategray;

    .header__container {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        position: relative;
    }

    @media screen and (max-width:$breakpoint-md) {
        position: static;
    }

    @media screen and (max-width:$breakpoint-sm) {
        //height: 91px;
        .header__container {
            left: 0;
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        //height:61px;
    }

    .header__top-row {
        display: flex;
        flex-direction:row;
        justify-content:flex-end;

        border-bottom: 1px solid $whitesmoke;
        height: 50px;

        @media screen and (max-width:$breakpoint-sm) {
            display: none;
        }
    }

    .header__main-row {
        display:flex;
        flex-direction:row;

        @media screen and (max-width:$breakpoint-md) {
            flex-wrap: wrap;
        }
    }
}
