﻿.header-logo {
    display: flex;

    display: inline-block;
    margin: -40px 20px 0 30px;

    a {
        display: inline-block;
        width: 120px;

        picture {
            display: inline-block;
            max-width: 100%;

            img {
                display: inline-block;
                max-width: 100%;
                max-height: 120px;
            }
        }
    }
    @media screen and (max-width:$breakpoint-sm) {
        margin: 10px 20px 10px;

        a {
            width: 70px;

            picture {
                img {
                }
            }
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        margin: 5px 10px;

        a {
            width: 50px;

            picture {
                img {
                }
            }
        }
    }
}
