﻿
.header-search {
    display: flex;
    justify-content:flex-end;
    order:2;

    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;

    &__box {
        display:flex;
        justify-content:center;

        margin-bottom: 0;
        position: relative;
        padding: 35px 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.95);
    }

    &__input {
        width: 100%;
        height: 74px;
        font-size: 36px;
        padding: 10px 250px 10px 80px;
        background-image: url('/content/images/svg/Search-bar-icon.svg');
        background-repeat: no-repeat;
        background-position: left 20px center;
        border: 1px solid $grey;
    }

    &__button {
        align-self:center;

        position: absolute;
        right: 140px;
        margin-top: 0 !important;
    }

    &__button--close {
        justify-content:center;

        width: 72px;
        height: 72px;
        background-color: $grey;
        position: absolute;
        right: 51px;
        top: 36px;
        text-align: center;
        @include transition(0.5s all ease-out);

        svg {
            margin-top: 20px;

            path {
                fill: $black;
                @include transition(0.5s all ease-out);
            }
        }

        &:hover {
            cursor: pointer;
            background-color: $color-primary;

            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    &__toggle {
        align-content:center;

        height: 50px;
        width: 60px;
        line-height: 50px;
        border-left: 1px solid $whitesmoke;
        text-align: center;
        @include transition(0.5s all ease-out);

        svg {
            margin-top: 14px;

            path {
                fill: $color-primary;
                @include transition(0.5s all ease-out);
            }
        }

        &:hover {
            cursor: pointer;
            background-color: $color-primary;

            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    @media screen and (max-width:$breakpoint-sm) {
        display: block;
        position: relative;
        border-bottom: 1px solid $whitesmoke;

        &__box {
            padding: 20px 30px;
            background-color: transparent;
        }

        &__input {
            padding: 10px 120px 10px 50px;
            font-size: 18px;
            height: 40px;
            background-image: url('/content/images/svg/Search-icon.svg');
            background-repeat: no-repeat;
            background-position: left 20px center;
        }

        .button--primary {
            &.box {
                min-height: 0px;
                height: 32px;
                right: 35px;
                margin-top: 0 !important;
                min-width: 0;
                padding: 0 20px;
            }
        }

        &__button--close {
            display: none;
        }

        &__toggle {
            align-content:center;

            height: 50px;
            width: 60px;
            line-height: 50px;
            border-left: 1px solid $whitesmoke;
            text-align: center;
            @include transition(0.5s all ease-out);

            svg {
                margin-top: 14px;

                path {
                    fill: $color-primary;
                    @include transition(0.5s all ease-out);
                }
            }

            &:hover {
                cursor: pointer;
                background-color: $color-primary;

                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
}
