﻿
.image-gallery {
    margin-bottom: 50px;
    clear: both;
    width: 100%;
    display: block;

    .owl-carousel {
        flex: none;
        position: relative;
        overflow: hidden;

        .owl-stage-outer {
            float: left;
            width: 100%;
            overflow: hidden;

            .owl-stage {

                .owl-item {
                    display: inline-block;

                    .item {
                        display: inline-block;

                        picture {
                            display: inline-block;

                            img {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        .owl-nav {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            width: 100%;
            display: block;
            pointer-events: none;

            .owl-prev, .owl-next {
                pointer-events: all;
                width: 26px;
                height: 45px;
                border-radius: 50%;
                display: block;
                background-repeat: no-repeat;
                color: transparent;
                background-size: 80%;

                button {
                    padding: 0;
                    margin: 0;
                    border: 0;
                    width: 26px;
                    height: 45px;
                    background-color:transparent;
                    svg {
                        width: 26px;
                        height: 45px;
                        #circle {
                            fill:$color-primary;
                            @include transition(0.5s all ease-out);
                        }
                        #arrow {
                            fill:$white;
                            @include transition(0.5s all ease-out);
                        }
                    }
                }
                &:hover {
                    button {
                    cursor: pointer;
                        svg {
                            #circle {
                                fill:$white;
                            }
                            #arrow {
                                fill:$color-primary;
                            }
                        }
                    }
                }
            }

            .owl-prev {
                float: left;
            }

            .owl-next {
                float: right;
            }
        }


        .owl-dots {
            background-color: $whitesmoke;
            text-align: center;
            padding: 10px 20px;
            clear: both;

            .owl-dot {
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                border: 2px solid $color-primary;
                background-color: $white;
                margin-left: 10px;
                pointer-events: all;
                @include transition(0.5s all ease-out);

                &:hover {
                    cursor: pointer;
                    background-color: $color-primary;
                }

                &.active {
                    background-color: $color-primary;
                }
            }
        }
    }
}
