﻿
.main-menu-toggle-holder {
    display:flex;
    justify-content:center;
    align-items:center;

    position: relative;
    width: 90px;

    @media(min-width: 1201px) {
        display: none;
    }

    @media(max-width:$breakpoint-xs) {
        width:50px;
    }

    .main-menu-toggle {
        @include transform-rotate(0);
        @include transition(0.5s all ease-out);
        display: block;
        cursor: pointer;
        height: 40px;
        width: 30px;

        span {
            background: $color-primary;
            display: block;
            height: 5px;
            left: 0;
            opacity: 1;
            position: absolute;
            width: 100%;
            text-align: center;
            margin: 18px 0;
            opacity: 1;
            @include transform-rotate(0);
            @include transition(0.5s all ease-out);

            &:before, &:after {
                content: "";
                width: 30px;
                height: 5px;
                background: $color-primary;
                display: block;
                position: absolute;
            }

            &:before {
                top: -9px;
                @include transition(0.5s all ease-out);
            }

            &:after {
                bottom: -9px;
                @include transition(0.5s all ease-out);
            }
        }
    }

    &.open {
        background: $color-primary;

        .main-menu-toggle {
            span {
                @include transform-rotate(45);
                background-color: $white;

                &:before, &:after {
                    background-color: $white;
                }

                &:before {
                    @include transform-rotate(-90);
                    top: 0;
                }

                &:after {
                    opacity: 0;
                }
            }
        }
    }
}
