﻿.main-menu {
    @media screen and (min-width: $breakpoint-md) {
        order: 0;
    }

    @media screen and (min-width:1201px) {
        .more {
            display: none;
        }
    }

    .dropdown {
        display: none;

        @media screen and (min-width:1201px) {
            position: absolute;
            list-style: none;
            margin: 0 0 0 0;
            padding: 10px 0 20px;
            background-color: rgba(255, 255, 255, 0.95);
            flex-direction: column;
            line-height: 1em;
            z-index: 8;
            left: -9999px;
            min-width: 300px;
            -webkit-box-shadow: 0px 5px 5px 0px rgba(69, 85, 96, 0.5);
            -moz-box-shadow: 0px 5px 5px 0px rgba(69, 85, 96, 0.5);
            -o-box-shadow: 0px 5px 5px 0px rgba(69, 85, 96, 0.5);
            box-shadow: 0px 5px 5px 0px rgba(69, 85, 96, 0.5);

            li {
                width: 100%;
                display: block;
                padding: 0;

                a {
                    width: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position: top 16px left 20px;
                    color: $color-primary;
                    padding: 10px 20px;
                    height: auto;
                    border-bottom: 0;
                    font-weight: 400;

                    &:hover {
                        color: $color-third;
                    }
                }

                > .dropdown {
                    padding: 0;
                    bottom: auto;
                    top: 0;
                    left: 100%;
                    z-index: 6;
                }
            }
        }
    }

    &__list {
        @include list;
        display: flex;
        flex-direction: row;
        font-weight: 400;
    }

    &__item {
        &--active {
            a {
                border-bottom: 6px solid $color-third;
                color: $color-third;
            }
        }
    }

    &__item, &__item--active {
        position: relative;
        padding: 0 20px;

        &:hover {
            color: $color-third;

            > .dropdown {
                @media screen and (min-width:$breakpoint-md) {
                    display: flex;
                }

                left: 0px;
                display: block;
            }
        }


        @media screen and (max-width:1400px) {
            padding: 0 10px;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
        font-size: 20px;
        height: 90px;
        display: block;
        padding: 35px 0 20px;
        line-height: 1em;
        font-weight: 600;
        border-bottom: 6px solid $white;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        @include transition(0.5s all ease-out);

        &:hover {
            color: $color-third;
            text-decoration: none;
            border-bottom: 6px solid $color-third;
        }
    }

    &__wrapper {
        display: flex;
        order:2;
        flex-grow: 4;
        justify-content: flex-end;

        z-index: 10;
        margin-right: 30px;
        
        @media screen and (max-width:$breakpoint-md) {
            display: none;
            margin-right: 0;

            .dropdown {
                &.level-2 {
                    padding: 0 0 0 50px !important;
                }

                &.level-3 {
                    padding: 0 0 0 50px;
                }
            }

            &.active {
                position: static;
                width: 100%;
                display: block !important;
                background-color: $color-primary;
                z-index: 99;

                -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
                -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
                -o-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
                box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);

                nav {
                    height: auto;
                    padding-right: 0;
                    margin-right: 0;

                    .main-menu__list {
                        width: 100%;
                        display: block;
                        line-height: 1em;
                    }

                    .main-menu__item {
                        width: 100%;
                        display: block;
                        position: relative;
                        padding: 0;
                        @include transition(0.5s all ease-out);

                        &--active {
                            padding:0;
                            a {
                                color:red;
                            }   
                        }
                        &:hover {
                            > .dropdown {
                                display: none;
                            }
                        }

                        &.hover {
                            background-color: $white;

                            .main-menu__link {
                                color: $color-primary;
                            }

                            .more {
                                svg {
                                    path {
                                        fill: $color-primary;
                                    }
                                }
                            }

                            > .more {
                                @include transform-rotate(90);
                            }

                            > .dropdown {
                                display: block;
                                padding: 0 0 0 50px;
                            }
                        }
                    }

                    .main-menu__link {
                        width: 100%;
                        display: block;
                        padding: 10px 30px 10px 50px;
                        margin: 0;
                        font-size: 1em;
                        border-bottom: 0;
                        color: $white;
                        height: 40px;
                    }

                    .more {
                        position: absolute;
                        height: 40px;
                        width: 40px;
                        left: 0;
                        top: 0;
                        cursor: pointer;
                        svg {
                            width: 20px;
                            height: 20px;
                            margin:10px;
                            path {
                                fill: $white;
                            }
                        }

                        @include transform-rotate(0);
                        @include transition(0.5s all ease-out);
                    }

                    .dropdown {
                        background-color: $white;
                        padding: 0;
                        margin: 0;

                        .main-menu__item {
                            .main-menu__link {
                                height: 40px;
                                padding: 10px 30px 10px 0;
                            }
                        }

                        &.level-2 {
                            .more {
                                left: -50px;
                            }
                        }

                        &.level-3 {
                            padding: 0 !important;

                            .main-menu__item {
                                .main-menu__link {
                                    font-weight: 400;
                                }
                            }

                            .more {
                                left: 0;
                            }
                        }
                    }

                    .main-menu__item--active {
                        .main-menu__link {
                        }

                        > .dropdown {
                            > .main-menu__item {
                                > .main-menu__link {
                                    border-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
