﻿
blockquote {
    padding:60px 120px 60px 120px;
    margin:0;
    position:relative;
    @media screen and (max-width:$breakpoint-md) {
        padding:50px 30px 50px 120px;
    }
    @media screen and (max-width:$breakpoint-sm) {
        padding:50px 30px 50px 70px;
    }
    @media screen and (max-width:$breakpoint-xs) {
        padding:50px 0 50px 70px;
    }
    svg {
        position:absolute;
        left:0;
        path {
            fill:$color-primary;
        }
        @media screen and (max-width:$breakpoint-sm) {
            width:60px;
            height:60px;
        }
    }
    p {
        font-size: 28px;
        line-height: 1.5em;
        @media screen and (max-width:$breakpoint-sm) {
            font-size: 24px;
        }
        @media screen and (max-width:$breakpoint-xs) {
            font-size: 18px;
        }

    }
    cite {
        font-style:normal;
        @media screen and (max-width:$breakpoint-sm) {
            font-size: 18px;
        }
        @media screen and (max-width:$breakpoint-xs) {
            font-size: 14px;
        }
    }
}