﻿
.related-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @media screen and (max-width:$breakpoint-sm) {
        flex-direction: column;
    }

    > div {
        width: 50%;
        padding: 50px 0 0 0;

        &:nth-of-type(odd) {
            margin-right: 75px;
        }

        @media screen and (max-width:$breakpoint-md) {
            &:nth-of-type(odd) {
                margin-right: 0;
            }
        }

        @media screen and (max-width:$breakpoint-sm) {
            width: 100%;
        }
    }
}
