﻿.side-menu {
    h4 {
        margin: 0 0 10px;
        padding-bottom: 10px;
        font-weight: 600;
        width: auto;
        border-bottom: 1px solid $grey;

        @media screen and (max-width:$breakpoint-xs) {
            font-size: 28px;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__subnav {
    }

    &__subnav-item {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        width: 100%;

        a {
            font-weight: $font-weight--regular;
            font-size: 20px;
            color: $color-primary;
            padding: 3px 0;
            width: 100%;

            @media screen and (max-width:$breakpoint-xs) {
                font-size: 18px;
            }

            &:hover {
                text-decoration: none;
                color: $color-third;
            }
        }

        &--active {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            width: 100%;

            a {
                font-weight: $font-weight--bold;
                font-size: 20px;
                color: $color-third;
                padding: 3px 0;

                @media screen and (max-width:$breakpoint-xs) {
                    font-size: 18px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__list {
        @include list;
        display: flex;
        flex-direction:column;

        clear: both;
        &--level-2 {
            width: 100%;
            display: block;
            padding: 10px 0;

            .side-menu__subnav-item {
                a {
                    padding: 0 0 0 20px;
                    font-weight: 400;
                    color: $slategray;

                    &:hover {
                        color: $color-third;
                    }
                }

                &--active {
                    padding: 0 0 0 20px;
                    font-weight: 700;
                    color: $color-third;
                }
            }
        }

        &--level-3 {
            width: 100%;
            display: block;
            padding: 10px 0;

            .side-menu__subnav-item {
                a {
                    padding: 0 0 0 40px;
                    font-weight: 400;
                    color: $slategray;

                    &:hover {
                        color: $color-third;
                    }
                }

                &--active {
                    padding: 0 0 0 40px;
                    font-weight: 700;
                    color: $color-third;
                }
            }
        }
    }


    &__heading {
        color: $color-primary;
    }
}
