﻿
.side-content {
    margin-bottom: 40px;
    padding:0 30px 0 50px;

    h4 {
        margin: 0 0 10px;
        padding-bottom: 10px;
        font-weight: 600;
        width: auto;
        border-bottom: 1px solid $grey;
    }

    @media screen and (max-width:$breakpoint-sm) {
        padding:0;
    }
}
