﻿
.site-alert {
    width: 100%;
    background-color: $color-primary;
    border-bottom: 10px solid $color-third;
    padding: 30px 0;
    z-index: 9;

    &__holder {
        @include container();

        @media screen and (max-width:$breakpoint-xs) {
            position: relative;
            > svg {
                position: absolute;
                top: 0;
            }
        }
    }

    &__content {
        padding-right: 200px;
        position: relative;
        width: 100%;
        display: block;

        h1, h2, h3, h4, h5, h6, p {
            font-size: 24px;
            margin: em(10) 0;
            font-weight: 500;

            @media screen and (max-width:$breakpoint-sm) {
                font-size: 20px;
            }

            @media screen and (max-width:$breakpoint-sm) {
                font-size: 18px;
                font-weight: 400;
            }

            color: $white;
        }

        > svg {
            width: 50px;
            height: 50px;
            display: block;
        }

        @media screen and (max-width:$breakpoint-sm) {
            padding-right: 0;
        }

        @media screen and (max-width:$breakpoint-xs) {
            padding-left: 60px;
            padding-right: 30px;

            h1, h2, h3, h4, h5, h6, p {
                margin-top: 0;
                font-size: 18px;
            }

            > svg {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    &__button {
        position: relative;
        font-weight: 600;
        padding: 0 0 0 40px;
        color: $color-accent;
        display: inline-block;
        @include transition(0.5s all ease-out);

        svg {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            path {
                fill: $color-accent;
                @include transition(0.5s all ease-out);
            }
        }

        &:hover {
            cursor: pointer;
            color: $color-third;

            svg {
                path {
                    fill: $color-third;
                }
            }
        }

        @media screen and (max-width:$breakpoint-xs) {
            font-size: 16px;
            padding: 0 0 0 30px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__close {
        position: absolute;
        display: block;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 600;
        padding: 0 40px 0 0;
        color: $color-accent;
        @include transition(0.5s all ease-out);

        svg {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            path {
                fill: $color-secondary;
                @include transition(0.5s all ease-out);
            }
        }

        &:hover {
            cursor: pointer;
            color: $color-third;

            svg {
                path {
                    fill: $color-third;
                }
            }
        }

        @media screen and (max-width:$breakpoint-sm) {
            top: 5px;
            transform: translateY(0);

            svg {
                top: 0;
                transform: translateY(0);
            }

            span {
                display: none;
            }
        }
    }
}
