﻿
table {
    width: 100% !important;
    border: 1px solid $grey;
    border-collapse: collapse;
    margin-bottom: 30px;

    tbody {
        tr {
            border: 1px solid $grey;

            &:first-of-type {
                background-color: $color-primary;

                td {
                    color: $white;
                    font-weight: 500;

                    p {
                        color: $white;
                        font-weight: 500;
                    }
                }
            }

            th {
                background-color: $color-primary;
                color: $white;
                font-weight: 500;
            }

            td {
                border: 1px solid $grey;
                color: $color-primary;
                padding: 7px 20px;
            }
        }
    }

    @media screen and (max-width:$breakpoint-md) {
        tbody {
            tr {
                &:first-of-type {
                    td {
                        p {
                            font-size: 0.9em;
                        }
                    }
                }

                th {
                    padding: 7px 15px;
                    font-size: 0.9em;
                }

                td {
                    padding: 7px 10px;
                    font-size: 0.9em;
                }
            }
        }
    }

    @media screen and (max-width:$breakpoint-xs) {
        overflow-x: scroll;

        tbody {
            tr {
                &:first-of-type {
                    td {
                        p {
                            font-size: 0.7em;
                        }
                    }
                }

                th {
                    padding: 7px 10px;
                    font-size: 0.7em;
                }

                td {
                    padding: 7px 10px;
                    font-size: 0.7em;
                }
            }
        }
    }

    @media screen and (max-width:380px) {
        tbody {
            tr {
                &:first-of-type {
                    td {
                        p {
                            font-size: 0.6em;
                        }
                    }
                }

                th {
                    padding: 7px 5px;
                    font-size: 0.6em;
                }

                td {
                    padding: 7px 5px;
                    font-size: 0.6em;
                }
            }
        }
    }
}

.faq__body {
    table {
        background-color: $white;

        td {
            p {
                color: $slategray;

                a {
                    word-break: break-all;
                }
            }

            ol, ul {
                padding-left:25px;
            }

            li {
                color: $color-primary;
            }
        }
    }
}