
// Breakpoints
// Important! These breakpoints should match those in the Bootstrap CSS file
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1920px;

// Font families
$font-family--primary: 'Quicksand', sans-serif;


// Font weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--bold: 700;


// Font sizes
$basefont: 16;
$line-height: 28px;
$font-size: 18px;
$font-size--small: 16px;
$font-size--medium: 21px;
$font-size--large: 28px;


// Colors
$white: #fff;
$black: #0b0b0b;
$grey: #d8d8d8;
$red: #e10715;

// Colour usage
$whitesmoke: #f4f4f4; // faint outline colour
$slategray: #455560;  // default font colour

$color-primary: #2b2d44     !default;                   // Dark Blue
$color-secondary: #0182a0   !default;                   // Aqua
$color-third: #d80501       !default;                   // Red
$color-accent: lighten($color-secondary, 10%) !default; // 10% Lighter version of secondary
$color-error: $red;

$color-alternate-faq: $color-accent !default;
$color-alternate-gateway: $color-secondary !default;

$header-line-height: 100px;

// Grid
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;
