// ==========================================================================
// Mixins
// ==========================================================================

@mixin list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin btn {
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

@mixin white-btn {
    @include btn;
    background-color: $white;
    font-size:16px;
    font-weight: $font-weight--bold;
    color: $color-primary;
}

@mixin white-panel-btn {
    @include btn;
    background-color: $white;
    font-size: 20px;
    font-weight: $font-weight--bold;
    color: $color-primary;
}

@mixin arrow-btn {
    display: flex;
    
    @include white-btn;
    padding: 15px 15px 5px 40px;
    text-transform: uppercase;

    &:after {
        content: "";
        height: 40px;
        width: 40px;
        position: relative;
        top: -6px;
        margin-left: 30px;
    }
}


@mixin default-padding {
    padding:0 50px;
    @media screen and (mmax-width:$breakpoint-sm) {
        padding:0 20px;
    }
}


//CSS3 Transform mixins transform: rotate, scale, skew, translate

@mixin transform-rotate($val) {
    @if($val != null) {
        -webkit-transform: rotate($val + deg);
        -moz-transform: rotate($val + deg);
        -o-transform: rotate($val + deg);
        -ms-transform: rotate($val + deg);
        transform: rotate($val + deg);
    }
}

@mixin transform-scale($x: 1, $y: 1) {
    -webkit-transform: scale($x, $y);
    -moz-transform: scale($x, $y);
    -o-transform: scale($x, $y);
    -ms-transform: scale($x, $y);
    transform: scale($x, $y);
}

@mixin transform-skew($x: 0, $y: 0) {
    -webkit-transform: skew($x + deg, $y + deg);
    -moz-transform: skew($x + deg, $y + deg);
    -o-transform: skew($x + deg, $y + deg);
    -ms-transform: skew($x + deg, $y + deg);
    transform: skew($x + deg, $y + deg);
}

@mixin transform-translate($x, $y) {
    @if($x != null) {
        -webkit-transform: translateX($x);
        -moz-transform: translateX($x);
        -o-transform: translateX($x);
        -ms-transform: translateX($x);
        transform: translateX($x);
    }

    @if($y != null) {
        -webkit-transform: translateY($y);
        -moz-transform: translateY($y);
        -o-transform: translateY($y);
        -ms-transform: translateY($y);
        transform: translateY($y);
    }
}



// transition

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
    transition-property: $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}


@mixin container() {
    display: flex;
    flex-wrap:wrap;

    overflow: hidden;
    width: 100%;
    padding: 0 330px;
    margin: 0 auto;
    max-width: 1920px;

    @media screen and (max-width: 1700px) {
        padding: 0 15%;
    }

    @media screen and (max-width: 1500px) {
        padding: 0 10%;
    }

    @media screen and (max-width: 1280px) {
        width: 100%;
        padding: 0 20px;
    }
}

@mixin container-2col() {
    display: flex;
    flex-wrap:wrap;

    overflow: hidden;
    width: 100%;
    padding: 0 0 0 330px;
    margin: 0 auto;
    max-width: 1920px;

    @media screen and (max-width: 1700px) {
        padding: 0 0 0 15%;
    }

    @media screen and (max-width: 1500px) {
        padding: 0 0 0 10%;
    }

    @media screen and (max-width: 1280px) {
        width: 100%;
        padding: 0 0 0 20px;
    }

    @media screen and (max-width: $breakpoint-md) {
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: 0 20px;
    }

    @media screen and (max-width: $breakpoint-xs) {
    }
}


@mixin section-heading() {
    color: $slategray;
    font-size: 50px;
    width: 100%;
    clear: both;
    display: block;
    &:after {
        content: "";
        width: 100px;
        height: 1px;
        background-color: $grey;
        display: block;
        margin: 10px auto 0;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 30px;
        &:after {
            width: 60px;
        }
    }
}

@mixin section-heading--small() {
    color: $slategray;
    font-size: 40px;
    width: 100%;
    clear: both;
    display: block;

    &:after {
        content: "";
        width: 100px;
        height: 1px;
        background-color: $grey;
        display: block;
        margin: 10px auto 0;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 28px;

        &:after {
            width: 60px;
        }
    }
}
