﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@model IBV.EDC.Lib.Models.Interfaces.IFeatureList
@{
    if (Model.IsValid)
    {
        <section class="feature--home__panel">
            <ul class="feature--home__list">
                @foreach (var feature in Model.Features)
                {
                    <li class="feature--home__item">
                        @if (feature.Link.IsValid)
                        {
                            @:<a class="feature--home__link" href="@feature.Link.Url" alttext="@feature.Link.Title">
                        }
                        else
                        {
                            @:<span class="feature--home__link">
                        }

                            <div class="feature--home__content">
                                <h4>@feature.Heading</h4>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path fill="#D41D0B" d="M10,0C4.5,0,0,4.5,0,10c0,5.5,4.5,10,10,10s10-4.5,10-10C20,4.5,15.5,0,10,0z M9.7,14.7 C9,15.3,8,15.3,7.3,14.6c-0.7-0.5-0.7-1.5,0-1.8l2.7-2.6L7.3,7.6C6.7,6.9,6.7,6,7.3,5.4l0.1-0.1C8,4.7,9,4.7,9.7,5.3l5.1,4.7 L9.7,14.7z" />
                                </svg>
                            </div>

                            @if (feature.Image.IsValid)
                            {
                                <div class="feature--home__image">
                                    @Html.Action("ImageCrop", "Shared", new
                                {
                                    image = feature.Image,
                                    lg = new ImageCrop(ImageCropOption.Square, 500),
                                    md = new ImageCrop(ImageCropOption.Square, 500),
                                    sm = new ImageCrop(ImageCropOption.Square, 768),
                                    xs = new ImageCrop(ImageCropOption.Square, 480)
                                })
                                </div>
                            }

                        @if (feature.Link.IsValid)
                        {
                            @:</a>
                        }
                        else
                        {
                            @:</span>
                        }
                    </li>
                }
        </ul>
    </section>
    }
}

