﻿@using IBV.EDC.Lib.Enums
@using IBV.EDC.Lib.Models
@model IBV.EDC.Lib.Models.ResultsPanel
@{
    if (Model.IsValid)
    {
        <section class="latest-news__panel">
            <h2 class="latest-news__heading centre">@Model.Heading</h2>
            <div class="latest-news__holder">
                <ul class="latest-news__list">

                    @foreach (var item in Model.Results.SearchResults)
                    {
                        <li class="latest-news__item">
                            <a href="@item.Link.Url" class="latest-news__link">
                                <div class="latest-news__image">
                                    @Html.Action("ImageCrop", "Shared", new
                                                {
                                                    image = item.Image,
                                                    lg = new ImageCrop(ImageCropOption.Square, 500),
                                                    md = new ImageCrop(ImageCropOption.Square, 500),
                                                    sm = new ImageCrop(ImageCropOption.Square, 768),
                                                    xs = new ImageCrop(ImageCropOption.Square, 480)
                                                })
                                </div>
                                <div class="latest-news__content">
                                    <h5>@item.Heading</h5>
                                    <time class="latest-news__time" datetime="@item.Date.DateTime.ToShortDateString()">@item.Date.DateTime.ToString("dd MMM")</time>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>

            <div class="latest-news__panel-link-holder centre">
                <a href="@Model.Link.Url" class="latest-news__panel-link button--panel">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                        <path fill="#D41D0B" d="M10,0C4.5,0,0,4.5,0,10c0,5.5,4.5,10,10,10s10-4.5,10-10C20,4.5,15.5,0,10,0z M9.7,14.7 C9,15.3,8,15.3,7.3,14.6c-0.7-0.5-0.7-1.5,0-1.8l2.7-2.6L7.3,7.6C6.7,6.9,6.7,6,7.3,5.4l0.1-0.1C8,4.7,9,4.7,9.7,5.3l5.1,4.7 L9.7,14.7z"></path>
                    </svg>
                    @Model.LinkText
                </a>
            </div>
        </section>
    }
}