﻿@model IBV.EDC.Web.ViewModels.TwitterViewModel
@{ 
    <section class="twitter">
        <h2 class="twitter__heading centre">@Model.Heading</h2>
        <div class="twitter__holder">
            <ul class="twitter__list width-70">
                @foreach (var tweet in Model.Tweets)
                {
                    <li class="twitter__item">
                        <div class="twitter__content centre">
                            <a href="@Model.AccountUrl" class="twitter__link">
                                @Model.AccountName
                            </a>
                            <h5>@Html.Raw(tweet.DisplayText)</h5>
                            <p class="twitter__time">@tweet.SinceFormatted</p>
                        </div>
                    </li>
                }
            </ul>
            <div class="twitter__panel-link-holder centre">
                <a href="@Model.AccountUrl" class="twitter__panel-link button--panel">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <path fill="#D41D0B" d="M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0z M12.1,18.4	c-0.8,0.7-2.1,0.7-2.9,0l-0.1-0.1c-0.8-0.7-0.8-1.9,0-2.5l3.4-3.2L9.1,9.4c-0.8-0.8-0.8-2,0-2.7l0.1-0.1c0.8-0.7,2.1-0.7,2.9,0 l6.4,5.9L12.1,18.4z" />
                    </svg>
                    @Model.FollowLinkText
                </a>
            </div>
        </div>
    </section>
}