﻿@using IBV.EDC.Lib.Enums
@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Models.Interfaces;
@*@model IBV.EDC.Lib.Models.ResultsPanel*@
@model IBV.EDC.Lib.Models.UpComingEvents

@{
    if (Model != null && Model.Events != null && Model.Events.Any())
    {
        <section class="events__panel">
            <h2 class="events__heading centre">@Model.Heading</h2>
            <div class="events__holder">
                <ul class="events__list">
                    @foreach (var item in Model.Events)
                    {
                        if (item != null)
                        {
                            IDate FromDate = Date.Get(item.start);
                            IDate EndDate = Date.Get(item.end);

                          <li class="events__item">
                            <a href="@item.url" class="events__link">
                                <div class="events__content centre">
                                    @if (FromDate.IsValid)
                                    {
                                        <time class="events__date" datetime="2018-11-08">
                                            <span class="day">@FromDate.DateTime.ToString("dd")</span>
                                            <span class="month">@FromDate.DateTime.ToString("MMM")</span>
                                        </time>
                                    }
                                    <h5>@item.title</h5>
                                    @if (!item.allDay)
                                    {

                                        if (FromDate.IsValid && EndDate.IsValid)
                                        {
                                            <p class="events__time"> @FromDate.DateTime.ToString("h:mm") - @EndDate.DateTime.ToString("h:mmtt").ToLower()</p>
                                        }
                                        else if (FromDate.IsValid && !EndDate.IsValid)
                                        {
                                            <p class="events__time"> @FromDate.DateTime.ToString("h:mm"))</p>
                                        }

                                    }
                                </div>
                            </a>
                          </li>
                        }
                    }
                </ul>
            </div>
            <div class="events__panel-link-holder centre">
                <a href="@Model.Link" class="events__panel-link button--panel">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                    <path fill="#D41D0B" d="M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0z M12.1,18.4	c-0.8,0.7-2.1,0.7-2.9,0l-0.1-0.1c-0.8-0.7-0.8-1.9,0-2.5l3.4-3.2L9.1,9.4c-0.8-0.8-0.8-2,0-2.7l0.1-0.1c0.8-0.7,2.1-0.7,2.9,0 l6.4,5.9L12.1,18.4z" />
                    </svg>
                    @Model.LinkText
                </a>
            </div>
        </section>
        }
    }