﻿@using IBV.EDC.Lib.Tools
@model IBV.EDC.Lib.Models.Interfaces.IBreadcrumb

@{
    if (Model.IsValid)
    {

        <div class="breadcrumb-trail" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <ul class="breadcrumb-trail__list">
                @{
                    int currentNodeId = IPublishedContentTools.GetCurrentNode().Id;
                    bool firstItem = true;

                    foreach (var link in Model.Links)
                    {
                        if (firstItem)
                        {
                            firstItem = false;

                            <li class="breadcrumb-trail__item">
                                <a class="breadcrumb-trail__link" href="@link.Url" itemprop="url">
                                    <span>Home</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="breadcrumb-trail__spacer">/</li>
                            <li class="breadcrumb-trail__item">
                                <div class="breadcrumb-trail__child" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                    @if (currentNodeId == link.Id)
                                    {
                                        <span>
                                            <span itemprop="title">@link.Title</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <a class="breadcrumb-trail__link" href="@link.Url" itemprop="url">
                                            <span itemprop="title">@link.Title</span>
                                        </a>
                                    }

                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    }
}
