﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@using ClientDependency.Core.Mvc;

@model IBV.EDC.Lib.Models.Interfaces.IFeatureList
@{
    if (Model.IsValid)
    {
        <div class="carousel-holder">
            <div id="carousel" class="owl-carousel">
                @foreach (var feature in Model.Features)
                {
                    <div class="carousel__item">
                        @if(feature.Link.IsValid)
                        {
                            @:<a href="@feature.Link.Url" title="@feature.Link.Title">
                        }

                        <div class="carousel__image">
                            @Html.Action("ImageCrop", "Shared", new
                               {
                                   image = feature.Image,
                                   lg = new ImageCrop(ImageCropOption.Banner, 1920),
                                   md = new ImageCrop(ImageCropOption.Banner, 1400),
                                   sm = new ImageCrop(ImageCropOption.Banner, 768),
                                   xs = new ImageCrop(ImageCropOption.Landscape, 480)
                               })
                            <div class="carousel__content">                           
                                <h1>@feature.Heading</h1>                               
                            </div>
                        </div>

                        @if (feature.Link.IsValid)
                        {
                            @:</a>
                        }
                    </div>
                }
            </div>

            @if (Model.Features.Count > 1)
            {
                Html.RequiresJs("/scripts/src/vendor/owl.carousel.min.js");
                Html.RequiresJs("/scripts/src/standard-carousel.js");

                <div class="carousel__nav">
                    <button class="carousel__nav--next">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="52px" height="90px" viewBox="0 0 52 90" enable-background="new 0 0 52 90" xml:space="preserve">
                        <path id="circle" fill="#061735" d="M45,90c2.4,0,4.7-0.2,7-0.5V0.5C49.7,0.2,47.4,0,45,0C20.1,0,0,20.1,0,45C0,69.9,20.1,90,45,90z"/>
                        <path id="arrow" fill="#FFFFFF" d="M21.5,54L21.5,54c1.6,1.6,3.8,1.6,5.4,0.2l11.4-10.5L26.9,33.2c-1.6-1.3-3.8-1.3-5.1,0l-0.2,0.2 c-1.3,1.3-1.3,3.4,0,4.9l6,5.8l-6,5.8C19.9,50.6,19.9,52.9,21.5,54z"/>
                        </svg>
                    </button>
                    <button class="carousel__nav--prev">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="52px" height="90px" viewBox="0 0 52 90" enable-background="new 0 0 52 90" xml:space="preserve">
                            <path id="circle" fill="#061735" d="M7,0C4.6,0,2.3,0.2,0,0.5v88.9C2.3,89.8,4.6,90,7,90c24.9,0,45-20.1,45-45C52,20.1,31.9,0,7,0z" />
                            <path id="arrow" fill="#FFFFFF" d="M30.5,36L30.5,36c-1.6-1.6-3.8-1.6-5.4-0.2L13.7,46.3l11.4,10.5c1.6,1.3,3.8,1.3,5.1,0l0.2-0.2 c1.3-1.3,1.3-3.4,0-4.9l-6-5.8l6-5.8C32.1,39.4,32.1,37.1,30.5,36z" />
                        </svg>
                    </button>
                </div>
                <a href="#main-content" class="carousel__button">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="46.3px" viewBox="0 0 90 46.3" enable-background="new 0 0 90 46.3" xml:space="preserve">
                        <path id="circle" fill="#FFFFFF" d="M90,45C90,20.1,69.9,0,45,0C20.1,0,0,20.1,0,45c0,0.4,0,0.9,0,1.3H90C90,45.9,90,45.4,90,45z" />
                        <path id="arrow" fill="#061735" d="M36,28.5L36,28.5c-1.6,1.6-1.6,3.8-0.2,5.4l10.5,11.4l10.5-11.4c1.3-1.6,1.3-3.8,0-5.1l-0.2-0.2 c-1.3-1.3-3.4-1.3-4.9,0l-5.8,6l-5.8-6C39.4,26.9,37.1,26.9,36,28.5z" />
                    </svg>
                </a>
            }
            else
            {
                <a href="#main-content" class="carousel__button no-nav">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="46.3px" viewBox="0 0 90 46.3" enable-background="new 0 0 90 46.3" xml:space="preserve">
                        <path id="circle" fill="#FFFFFF" d="M90,45C90,20.1,69.9,0,45,0C20.1,0,0,20.1,0,45c0,0.4,0,0.9,0,1.3H90C90,45.9,90,45.4,90,45z" />
                        <path id="arrow" fill="#061735" d="M36,28.5L36,28.5c-1.6,1.6-1.6,3.8-0.2,5.4l10.5,11.4l10.5-11.4c1.3-1.6,1.3-3.8,0-5.1l-0.2-0.2 c-1.3-1.3-3.4-1.3-4.9,0l-5.8,6l-5.8-6C39.4,26.9,37.1,26.9,36,28.5z" />
                    </svg>
                </a>
            }

        </div>
    }
}

