﻿﻿@model IBV.EDC.Lib.Models.Interfaces.ILink
@{
    if (Model != null && Model.IsValid)
    { 
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#000"
                        },
                        "button": {
                            "background": "#fff"
                        }
                    },
                    "theme": "classic",
                    "position": "bottom-left",
                    "type": "opt-out",
                    "content": {
                        "href": "@Model.Url",
                        "message": "This website uses cookies to ensure you get the best experience on our website.  Please refer to our",
                        "link": "cookie policy"
                    },
                    "elements": {
                        deny: '<a href="{{href}}" aria-label="deny cookies" role="button" tabindex="0" class="cc-btn cc-deny">{{deny}}</a>'
                    }
                })
            });
        </script>
    }
}