﻿@model IBV.EDC.Web.ViewModels.SiteAlertViewModel
@{
    <div class="site-alert">
        <div class="site-alert__holder">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41.7px" height="34.9px" viewBox="0 0 41.7 34.9" enable-background="new 0 0 41.7 34.9" xml:space="preserve">
                <path fill="#FFFFFF" d="M23,1.5c-1.2-2-3.2-2-4.4,0L0.5,31.2c-1.2,2-0.3,3.6,2,3.6h36.5c2.3,0,3.3-1.6,2-3.6L23,1.5z" />
                <g>
                    <path fill="#D41D0B" d="M20.8,25.2c-1.5,0-2.7,1.2-2.7,2.6c0,1.5,1.2,2.6,2.7,2.6c1.5,0,2.7-1.2,2.7-2.6 C23.5,26.4,22.3,25.2,20.8,25.2z" />
                    <path fill="#D41D0B" d="M18.1,10.7v5.9l1,5.9h3.3l1-5.9v-5.9H18.1z" />
                </g>
            </svg>
            <div class="site-alert__content">
                <p>@Model.AlertText</p>
                <a href="@Model.AlertLink" class="site-alert__button">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <path fill="#00A2C4" d="M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0z M12.1,18.4 c-0.8,0.7-2.1,0.7-2.9,0l-0.1-0.1c-0.8-0.7-0.8-1.9,0-2.5l3.4-3.2L9.1,9.4c-0.8-0.8-0.8-2,0-2.7l0.1-0.1c0.8-0.7,2.1-0.7,2.9,0 l6.4,5.9L12.1,18.4z" />
                    </svg>
                    @Model.AlertLinkText
                </a>
                <div class="site-alert__close">
                    <span>Close</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.625" height="16.25" viewBox="0 0 16.625 16.25">
                        <path id="Rectangle_2342_copy" data-name="Rectangle 2342 copy" class="cls-1" d="M678.5,3007.87l2.12,2.12-14.141,14.14-2.116-2.12Zm1.5,14.05-2.089,2.09-13.917-13.93,2.086-2.09Z" transform="translate(-664 -3007.88)" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
}