﻿@using IBV.EDC.Lib.Tools
@model IBV.EDC.Lib.Models.Interfaces.ILinkList
@{
    if (Model.IsValid)
    {
        IPublishedContent currentNode = IPublishedContentTools.GetCurrentNode();
        string[] currentPath = currentNode.Path.Split(',');

        <div class="footer-column">
            <h5>Useful links</h5>
            <ul class="footer-links">
                @foreach (var link in Model.Links)
                {
                    <li class="footer-links__item">
                        <a href="@link.Url" class="footer-links__link @(currentPath.Contains(link.Id.ToString()) ? "footer-links__link--active" : "")">
                            @link.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
}