﻿@model IBV.EDC.Lib.Models.Image
@{
    if (Model.IsValid)
    {
        <div class="footer-column">
            <div class="footer-logos">
                <ul class="footer-logos__list">
                    <li class="footer-logos__item">
                        <a class="footer-logos__link" href="/">
                            <img src="@Model.Url" alt="@Model.AltText" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
}