﻿@model IBV.EDC.Web.ViewModels.FooterTextViewModel
@{
    if (!string.IsNullOrEmpty(Model.FooterText))
    {
        <div class="footer-column">
            <div class="footer-text">
                <h5>@Model.Heading</h5>
                @Html.Raw(Model.FooterText)
            </div>
        </div>
    }
}