﻿@using IBV.EDC.Lib.Tools
@model IBV.EDC.Lib.Models.Interfaces.ILinkList
@{
    if (Model.IsValid)
    {
        IPublishedContent currentNode = IPublishedContentTools.GetCurrentNode();
        string[] currentPath = currentNode.Path.Split(',');

        <ul class="header-links">
            @foreach (var link in Model.Links)
            {
                <li class="header-links__item">
                    <a href="@link.Url" class="header-links__link @(currentPath.Contains(link.Id.ToString()) ? "header-links__link--active" : "")">
                        @link.Title
                    </a>
                </li>
            }
        </ul>
    }
}