﻿@model IBV.EDC.Lib.Models.Image
@{
    if(Model.IsValid)
    {
        <div class="header-logo">
            <a href="/">
                <picture>
                    <img src="@Model.Url" alt="@Model.AltText" />
                </picture>
            </a>
        </div>
    }
}