﻿@model IBV.EDC.Lib.Models.Interfaces.ILink
@{
    if (Model.IsValid)
    {
        <div class="header-search__toggle">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="20px" viewBox="0 0 19 20" enable-background="new 0 0 19 20" xml:space="preserve">
                <path fill="#FFFFFF" d="M8.1,16.3C3.7,16.3,0,12.7,0,8.2S3.7,0,8.1,0c4.5,0,8.1,3.7,8.1,8.2C16.3,12.7,12.6,16.3,8.1,16.3z M8.1,1.5 c-3.6,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C14.7,4.5,11.8,1.5,8.1,1.5z" />
                <path fill="#FFFFFF" d="M17.9,20l-5.4-5.4l1.1-1.1l5.4,5.4L17.9,20z" />
            </svg>
        </div>
        <span id="header-search" class="header-search">
            <form class="header-search__box" action="@Model.Url" method="get">
                <input type="text" id="keywords-header" class="header-search__input" name="keywords" placeholder="Keyword" />
                <button type="submit" title="Search" class="header-search__button button--primary box">Search</button>
            </form>
            <div class="header-search__button--close">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M0,6l6-6l24,24l-6,6L0,6z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M6.1,29.9l-5.9-5.9L23.9,0.1l5.9,5.9L6.1,29.9z" />
                </svg>
            </div>
        </span>
    }
}
