﻿@model string
@{
    if (!string.IsNullOrEmpty(Model))
    {
        <div class="header-logo-text">
            <h1 class="header-text">
                <a href="/">@Html.Raw(Model)</a>
            </h1>
        </div>
    }
}