﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@model IBV.EDC.Lib.Models.Interfaces.IImageList
@{
    if (Model.IsValid)
    {
        if (Model.Images.Count > 1)
        {
            <div class="image-gallery">
                <div class="owl-carousel">
                    @foreach (var item in Model.Images)
                    {
                        <div class="item">
                            @if (item.IsValid)
                            {
                                <a href="@item.Url" title="" data-jbox-image="gallery1">
                                    @Html.Action("ImageCrop", "Shared", new
                                    {
                                        image = item,
                                        lg = new ImageCrop(ImageCropOption.Gallery, 980),
                                        md = new ImageCrop(ImageCropOption.Gallery, 800),
                                        sm = new ImageCrop(ImageCropOption.Gallery, 768),
                                        xs = new ImageCrop(ImageCropOption.Gallery, 480)
                                    })
                                </a>
                            }
                        </div>
                    }
                </div>

                <div class="carousel__nav">
                    <button class="carousel__nav--next">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="52px" height="90px" viewBox="0 0 52 90" enable-background="new 0 0 52 90" xml:space="preserve">
                        <path id="circle" fill="#061735" d="M45,90c2.4,0,4.7-0.2,7-0.5V0.5C49.7,0.2,47.4,0,45,0C20.1,0,0,20.1,0,45C0,69.9,20.1,90,45,90z" />















                        <path id="arrow" fill="#FFFFFF" d="M21.5,54L21.5,54c1.6,1.6,3.8,1.6,5.4,0.2l11.4-10.5L26.9,33.2c-1.6-1.3-3.8-1.3-5.1,0l-0.2,0.2 c-1.3,1.3-1.3,3.4,0,4.9l6,5.8l-6,5.8C19.9,50.6,19.9,52.9,21.5,54z" />















                        </svg>
                    </button>
                    <button class="carousel__nav--prev">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="52px" height="90px" viewBox="0 0 52 90" enable-background="new 0 0 52 90" xml:space="preserve">
                        <path id="circle" fill="#061735" d="M7,0C4.6,0,2.3,0.2,0,0.5v88.9C2.3,89.8,4.6,90,7,90c24.9,0,45-20.1,45-45C52,20.1,31.9,0,7,0z" />















                        <path id="arrow" fill="#FFFFFF" d="M30.5,36L30.5,36c-1.6-1.6-3.8-1.6-5.4-0.2L13.7,46.3l11.4,10.5c1.6,1.3,3.8,1.3,5.1,0l0.2-0.2 c1.3-1.3,1.3-3.4,0-4.9l-6-5.8l6-5.8C32.1,39.4,32.1,37.1,30.5,36z" />















                        </svg>
                    </button>
                </div>
            </div>

            <script src="/scripts/src/vendor/owl.carousel.min.js" type="text/javascript"></script>
            <script src="/scripts/src/standard-carousel.js" type="text/javascript"></script>
        }
        else
        {
            if (Model.Images.Count == 1)
            {
                <div class="image-gallery">
                    @foreach (var item in Model.Images)
                    {
                        <div class="item">
                            @if (item.IsValid)
                            {
                                <a href="@item.Url" title="" data-jbox-image="gallery1">
                                    @Html.Action("ImageCrop", "Shared", new
                                    {
                                        image = item,
                                        lg = new ImageCrop(ImageCropOption.Gallery, 920),
                                        md = new ImageCrop(ImageCropOption.Gallery, 800),
                                        sm = new ImageCrop(ImageCropOption.Gallery, 768),
                                        xs = new ImageCrop(ImageCropOption.Gallery, 480)
                                    })
                                </a>
                            }
                        </div>
                    }
                </div>
            }
        }
        <link href="/content/css/vendor/jBox.Image.css" rel="stylesheet">
        <script src="/Scripts/src/vendor/jBox.min.js"></script>
        <script src="/Scripts/src/vendor/jBox.Image.min.js"></script>
        <script src="/Scripts/src/initJbox.js"></script>
    }
}


