﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@model IBV.EDC.Lib.Models.Interfaces.IImageList
@{
    if (Model.IsValid)
    {
        <section class="gateway-results--grid__panel">
            <div class="gateway-results--grid__holder">
                <ul class="gateway-results--grid__gallery">
                    @foreach (var item in Model.Images)
                    {
                        <li class="gateway-results--grid__item">
                            @if (item.IsValid)
                            {
                                    
                                <a href="@item.Url"  title="" data-jbox-image="gallery1">
                                    <img src="@item.Url" />
                                </a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </section>
        
        <script src="//code.jboxcdn.com/0.4.9/jBox.min.js"></script>
        <script src="~/Scripts/src/vendor/jBox.Image.min.js"></script>
        <link href="//code.jboxcdn.com/0.4.9/jBox.css" rel="stylesheet">
        <link href="~/content/css/vendor/jBox.Image.css" rel="stylesheet">
        <script src="~/Scripts/src/initJbox.js"></script>
        
    }
}


