﻿@model IBV.EDC.Web.ViewModels.ImageCropViewModel

@* --------------------------------------------------------------------------------

        EXAMPLE USAGE:
        @Html.Action("ImageCrop", "Layout", new
            {
                image = Model,
                lg = new ImageCrop(Enums.ImageCropOption.Banner),
                md = new ImageCrop(Enums.ImageCropOption.Banner, 800),
                sm = new ImageCrop(Enums.ImageCropOption.Square),
                xs = new ImageCrop(Enums.ImageCropOption.Square, 200),
                attrs = "itemprop='logo' class='logo'"
            })

        NOTES:
        -   The image and 4 image crop parameters (i.e. lg, md, sm and xs) are always required.
        -   ImageCrop can be called by using a predefined crop on its own or with an optional width parameter.
            - If using the optional width parameter, the crop will be resized to the specified width, keeping the same aspect ratio.
            - If not using the optional width parameter, the full-sized crop will be returned.
        -   The attrs parameter is optional. It can be used to apply any custom attributes to the HTML img tag.

    -------------------------------------------------------------------------------- *@

@{
    if (Model.IsValid)
    {
        <picture>
            <!--[if IE 9]><video style="display:none;"><![endif]-->
            <source srcset="@Model.Image.GetCropUrl(Model.Large)" media="(min-width:1200px)">
            <source srcset="@Model.Image.GetCropUrl(Model.Medium)" media="(min-width:769px)">
            <source srcset="@Model.Image.GetCropUrl(Model.Small)" media="(min-width:480px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="@Model.Image.GetCropUrl(Model.ExtraSmall)" alt="@Model.Image.AltText" @Html.Raw(Model.Attributes)>
        </picture>
    }
}
