﻿@using IBV.EDC.Lib.Tools
@model IBV.EDC.Lib.Models.Interfaces.IMenu
@{
    <div class="main-menu__wrapper" id="main-menu-wrapper">
        <nav class="main-menu" id="main-menu">
            <div id="mobile-search"></div>

            <ul class="main-menu__list">
                @if (Model.IsValid)
            {
                int currentNodeId = IPublishedContentTools.GetCurrentNode().Id;

                foreach (var menuLevel1 in Model.SubMenus)
                {
                    if (menuLevel1.IsValid && menuLevel1.MenuLink.IsValid)
                    {
                        var activePage = currentNodeId == menuLevel1.MenuLink.Id ? "main-menu__item--active" : "main-menu__item";

                            <li class="@activePage">
                                <a class="main-menu__link" href="@menuLevel1.MenuLink.Url">
                                    @menuLevel1.MenuLink.Title
                                </a>

                                @if (menuLevel1.SubMenus.Count > 0)
                                {
                                    <div class="more">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                                        <path fill="#D41D0B" d="M9.1,18.3l0.1,0.1c0.8,0.7,2.1,0.7,2.9,0l6.4-5.9l-6.4-5.9c-0.8-0.7-2.1-0.7-2.9,0L9.1,6.7	c-0.8,0.7-0.8,1.9,0,2.7l3.4,3.2l-3.4,3.2C8.3,16.4,8.3,17.6,9.1,18.3z" />

                                    </svg>
                                    </div>
                                    <ul class="dropdown level-2">
                                        @foreach (var menuLevel2 in menuLevel1.SubMenus)
                                        {
                                            if (menuLevel2.IsValid)
                                            {
                                                <li class="@activePage">
                                                    <a class="main-menu__link" href="@menuLevel2.MenuLink.Url">
                                                        @menuLevel2.MenuLink.Title
                                                    </a>
                                                    @if (menuLevel2.SubMenus.Count > 0)
                                                    {
                                                        <div class="more">
                                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                                                            <path fill="#D41D0B" d="M9.1,18.3l0.1,0.1c0.8,0.7,2.1,0.7,2.9,0l6.4-5.9l-6.4-5.9c-0.8-0.7-2.1-0.7-2.9,0L9.1,6.7	c-0.8,0.7-0.8,1.9,0,2.7l3.4,3.2l-3.4,3.2C8.3,16.4,8.3,17.6,9.1,18.3z" />

                                                        </svg>
                                                        </div>
                                                        <ul class="dropdown level-3">
                                                            @foreach (var menuLevel3 in menuLevel2.SubMenus)
                                                            {
                                                                if (menuLevel3.IsValid)
                                                                {
                                                                    <li class="@activePage">
                                                                        <a class="main-menu__link" href="@menuLevel3.MenuLink.Url">
                                                                            @menuLevel3.MenuLink.Title
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                }
            </ul>

            <div id="mobile-header-links"></div>
        </nav>
    </div>
}
