﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@model IBV.EDC.Lib.Models.Interfaces.IFeatureList
@{
    if (Model.IsValid)
    {
        <section class="feature--side__panel">
            <ul class="feature--side__list">
                @foreach (var feature in Model.Features)
                {
                    <li class="feature--side__item">
                        <a class="feature--side__link" href="@feature.Link.Url" alttext="@feature.Link.Title">
                            <div class="feature--side__content">
                                <h4>@feature.Heading</h4>
                                <div class="feature--side__button button--primary box">@feature.Link.Title</div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </section>
    }
}

