﻿@using IBV.EDC.Lib.Tools
@model IBV.EDC.Lib.Models.Interfaces.IMenu
@{
    if (Model.IsValid)
    {
        IPublishedContent currentNode = IPublishedContentTools.GetCurrentNode();
        int currentNodeId = currentNode.Id;
        int currentNodeParentId = currentNode.Parent.Id;

        var activeSubNavClass = "side-menu__subnav-item--active";
        var subNavClass = "side-menu__subnav-item";

        <div class="side-menu">
            <h4>In this section</h4>

            <nav class="side-menu__subnav">
                <ul class="side-menu__list">
                    @foreach (var menuItem in Model.SubMenus)
                    {
                        var menuItemId = menuItem.MenuLink.Id;
                        var activeClass = menuItemId == currentNodeId ? activeSubNavClass : subNavClass;

                        <li class=@activeClass>
                            <a href="@menuItem.MenuLink.Url">
                                @menuItem.MenuLink.Title
                            </a>

                            @if ((menuItem.SubMenus.Count > 1) && (currentNodeParentId == menuItemId || currentNodeId == menuItemId))
                            {
                                <ul class="side-menu__list--level-2">
                                    @foreach (var menuLevel2 in menuItem.SubMenus)
                                    {
                                        var activeSubMenuClass = menuLevel2.MenuLink.Id == currentNodeId ? activeSubNavClass : subNavClass;

                                        <li class="@activeSubMenuClass">
                                            <a href="@menuLevel2.MenuLink.Url">
                                                @menuLevel2.MenuLink.Title
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
}