﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string quote = @Model.MacroParameters["quote"].ToString();
    string source = @Model.MacroParameters["source"].ToString();

    <blockquote>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve">
            <path fill="#061735" d="M45,0C20.1,0,0,20.1,0,45s20.1,45,45,45s45-20.1,45-45S69.9,0,45,0z M41.3,28.4c-3.8,2.3-6.3,4.5-7.5,6.6 s-1.9,4.2-2.1,6.6c3.2,0.4,5.4,1.6,6.8,3.7c1.3,2.1,2,4.1,2,6c0,2.6-0.9,4.9-2.8,6.9c-1.9,2-4.3,3-7.4,3c-3.1,0-5.7-1.2-7.8-3.6 c-2.1-2.4-3.1-5.2-3.1-8.4c0-3.5,1-6.9,3-10.1c2-3.2,4.7-6,8.1-8.2c3.4-2.2,7-3.7,10.8-4.4V28.4z M67.6,28.4 c-3.8,2.3-6.3,4.5-7.5,6.6C59,37,58.2,39.2,58,41.5c3.1,0.4,5.4,1.6,6.7,3.7c1.3,2.1,2,4.1,2,6c0,2.6-0.9,4.9-2.8,6.9 c-1.9,2-4.3,3-7.4,3c-3.1,0-5.7-1.2-7.8-3.6c-2.1-2.4-3.1-5.2-3.1-8.4c0-3.6,1-7,3-10.2c2-3.2,4.7-5.9,8-8.1c3.4-2.2,7-3.7,11-4.4 V28.4z" />
        </svg>
        <p>"@quote"</p>
        <cite>@source</cite>
    </blockquote>
}