﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = null;
    @Html.Action("EnsureSsl", "Shared")
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="/images/favicons/favicon.ico" rel="icon" type="image/x-icon" />

        @Html.Action("Stylesheet", "Shared")
        
        @{ 
            @Html.RenderCssHere();
            @Html.RenderJsHere();

            Html.RequiresJs("~/Scripts/src/vendor/jquery.min.js", 0);
            Html.RequiresJs("~/Scripts/src/vendor/jquery-ui.min.js", 0);
            Html.RequiresJs("~/Scripts/src/vendor/js.cookie.js", 0);
            Html.RequiresJs("~/Scripts/src/vendor/picturefill.js", 0);
            Html.RequiresJs("~/Scripts/src/scripts.js", 1);
        }

        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">

        @Html.Action("MetaData", "Shared")
        @Html.Action("Canonical", "Shared")

        @Html.Action("GoogleAnalytics", "Shared")
        @Html.Action("HeadAreaCode", "Shared")
        @RenderSection("HeadArea", false)
    </head>
    <body>

        @Html.Action("BodyOpenCode", "Shared")
        @RenderSection("BodyOpen", false)

        <header>
            @Html.Action("DisplaySiteAlert", "Shared")

            <div class="header__container">
                <div class="header__top-row">
                    @Html.Action("HeaderExternalLinks", "Shared")
                    @Html.Action("HeaderSearch", "Shared")
                </div>
                <div class="header__main-row">
                    @Html.Action("HeaderLogo", "Shared")
                    @Html.Action("HeaderLogoText", "Shared")
                    <div class="main-menu-toggle-holder">
                        <div class="main-menu-toggle">
                            <span></span>
                        </div>
                    </div>
                    @Html.Action("MainNavigation", "Shared")
                </div>
            </div>
        </header>

        <div class="main-holder">
            @RenderBody()
        </div>

        <footer>
            <div class="footer__main-row">
                <div class="container">
                    @Html.Action("FooterText", "Shared")
                    @Html.Action("FooterExternalLinks", "Shared")
                    @Html.Action("FooterLinks", "Shared")
                    @Html.Action("FooterLogo", "Shared")
                </div>
            </div>
            <div class="footer__bottom-row">
                <div class="container">
                    @Html.Action("FooterCopyrightText", "Shared")
                    <div class="innovation">
                        <p>
                            <a target="_blank" href="http://www.innovationdigital.co.uk">Website design by Innovation Digital</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        @Html.Action("CookieBar", "Shared")
        @Html.Action("BodyCloseCode", "Shared")
        @RenderSection("BodyClose", false)
    
    </body>
</html>