﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using ClientDependency.Core.Mvc;
@{
    Layout = "_Layout.cshtml";

    Html.RequiresCss("~/content/css/vendor/fullcalendar.min.css");
    Html.RequiresCss("~/content/css/vendor/jquery.ui.css");
    Html.RequiresJs("~/Scripts/src/vendor/jquery.ui.min.js", 1);
    Html.RequiresJs("~/Scripts/src/vendor/moment.min.js", 1);
    Html.RequiresJs("~/Scripts/src/vendor/fullcalendar.js", 2);
    Html.RequiresJs("~/Scripts/src/events.js", 3);
    Html.RequiresJs("~/Scripts/src/calendar-views.js", 3);
}


<div class="banner">
    <h1>@Model.Content.Name</h1>
</div>

@Html.Action("BreadcrumbTrail", "Shared")

<style>
    .ui-dialog-titlebar-close {
        display: none !important;
    }
</style>

<div class="calendar with-side-nav">
    <div class="container-2col">
        <div class="grid__col--8">
            @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
            @Umbraco.Field("nodeContent")
            @Html.Action("ListFiltersCheckbox", "List")
            <div id="calendar" class="fc fc-unthemed fc-ltr"></div>
        </div>
        <div class="grid__col--4">
            <div class="side-content">
                @Html.Action("SubNavigation", "Shared")
            </div>
        </div>
    </div>
</div>

<div style="display:none;" id="pageID" data-val="@Umbraco.UmbracoContext.PageId"></div>
<div id="selectedTagFilters" data-tagfilters=""></div>

@* DO NOT REMOVE THE POPUP CONTAINER BELOW. IT IS USED BY THE CALENDAR *@
<div class="calendar-popup" id="calendar-popup">
    <div class="calendar-popup__background">
        <div class="calendar-popup__holder">
            <div class="calendar-popup__popup">
                <div class="calendar-popup__date" id="event-day">05<span>sept</span></div>
                <div class="calendar-popup__content">
                    <h4 id="event-title">Calendar entry, event title could be long...</h4>
                    <p id="event-time"></p>
                    <h5>Event details</h5>
                    <p id="event-details">Diam a parturient condimentum luctus scelerisque netus adipiscing suspendisse moliestie quam eu fringilla suspendisse in varius vestibulum cras habita. Phasellus justo ut a a elementum convallis inceptos.</p>
                    <p id="event-url"></p>
                </div>
                <div class="calendar-popup__close">
                    Close
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M0,6l6-6l24,24l-6,6L0,6z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M6.1,29.9l-5.9-5.9L23.9,0.1l5.9,5.9L6.1,29.9z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

