﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactForm>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using ClientDependency.Core.Mvc
@{
    Layout = "_Layout.cshtml";
}

@{
    Html.RequiresJs("/Scripts/src/send-contact-email.js");
}

<div class="banner">
    <h1>@Model.Content.Name</h1>
</div>
@Html.Action("BreadcrumbTrail", "Shared")

<div class="contact with-side-nav">
    <div class="container-2col">
        <div class="grid__col--8">
            @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
            @Umbraco.Field("nodeContact")
            @Html.Action("Contact")
        </div>
        <div class="grid__col--4">
            <div class="side-content">
                @Umbraco.Field("contactHeading", insertBefore: "<h4>", insertAfter: "</h4>")
                @Umbraco.Field("contactContent")
            </div>
        </div>
    </div>

    @Html.Action("GoogleMap")
</div>



@section BodyClose {
    @{
        Html.RequiresJs("/Scripts/src/google-map.js");
    }
}