﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Error404>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
}

<div class="banner-with-svg">
    <div class="banner__holder">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="129px" height="129px" viewBox="0 0 129 129" enable-background="new 0 0 129 129" xml:space="preserve">
            <path fill="#FFFFFF" d="M64.5,2C99,2,127,30,127,64.5S99,127,64.5,127S2,99,2,64.5S30,2,64.5,2 M64.5,0C28.9,0,0,28.9,0,64.5 S28.9,129,64.5,129S129,100.1,129,64.5S100.1,0,64.5,0L64.5,0z" />
            <path fill="#FFFFFF" d="M89.1,93H42V33.9h35.3l11.8,11.6V93z M43.2,91.8h44.6V46L76.8,35.1H43.2V91.8z" />
            <path fill="#FFFFFF" d="M90,46.3H76.4V33L90,46.3z M77.6,45.1H87l-9.4-9.2V45.1z" />
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M55.6,56.3l0.7-0.7l19.1,19.1l-0.7,0.7L55.6,56.3z" />
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M56.7,75L56,74.3L75.3,55l0.7,0.7L56.7,75z" />
        </svg>
        <h1>@Model.Content.Name</h1>
    </div>
</div>
@Html.Action("BreadcrumbTrail", "Shared")

<div class="error-404">
    <div class="container">
        <div class="grid__col--9">
            @Umbraco.Field("nodeIntroductionContent")
            @Umbraco.Field("nodeContent")
        </div>
        <div class="grid__col--3">
        </div>
    </div>
</div>