﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FrequentlyAskedQuestions>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
}

<div class="banner">
    <h1>@Model.Content.Name</h1>
</div>
@Html.Action("BreadcrumbTrail", "Shared")

<div class="frequently-asked-questions with-side-nav">
    <div class="container-2col">
        <div class="grid__col--8">
            @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
            @Umbraco.Field("nodeContent")

            @Html.Action("FaqGroupList")
        </div>
        <div class="grid__col--4">
            <div class="side-content">
                @Html.Action("SubNavigation", "Shared")
            </div>
        </div>
    </div>
</div>
