﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Gateway>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
}


<div class="banner">
    <h1>@Model.Content.Name</h1>
</div>
@Html.Action("BreadcrumbTrail", "Shared")

<div class="gateway">
    <div class="container">
        @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
        @Umbraco.Field("nodeContent")
    </div>
    
    @Html.Action("GridResults")

    <div class="pager__1col-wrapper">
        @Html.Action("Pager", "List")
    </div>
</div>