﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GeneralArticle>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
}

<div class="banner">
    <h1>@Model.Content.Name</h1>
</div>
@Html.Action("BreadcrumbTrail", "Shared")

<div class="general-article with-side-nav">
    <div class="container-2col">
        <div class="grid__col--8">
            @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
            @Umbraco.Field("nodeIntroductionContent", insertBefore: "<div class='intro'>", insertAfter: "</div>")
            @Umbraco.Field("nodeContent")
            @Html.Action("ImageGallery", "Shared")
            @Html.Action("Faq")
            @Html.Action("Features")

            <div class="related-content">
                @Html.Action("GroupedLinks", new { linksPropertyName = "groupedRelatedLinks", headingPropertyName = "groupedLinksHeading" })
                @Html.Action("GroupedLinks", new { linksPropertyName = "groupedRelatedMedia", headingPropertyName = "groupedMediaHeading" })
            </div>
        </div>
        <div class="grid__col--4">
            <div class="side-content">
                @Html.Action("SubNavigation", "Shared")
            </div>
            @Html.Action("SideFeatures")
        </div>
    </div>
</div>