﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@Html.Action("Carousel", "Shared")

<div id="main-content" class="main-content width-80 centre">
    @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
    @Umbraco.Field("nodeContent")
</div>

@Html.Action("Features")

@Html.Action("LatestNews")
@Html.Action("UpcomingEvents")
@Html.Action("TwitterFeed")
