﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<div class="banner">
    <h1>@Model.Content.Name</h1>
</div>

@Html.Action("BreadcrumbTrail", "Shared")

<div class="list-results with-side-nav">
    <div class="container-2col">
        <div class="grid__col--8">
            @Umbraco.Field("nodeHeading", insertBefore: "<h1>", insertAfter: "</h1>")
            @Html.Action("ListFiltersCheckbox", "List")

            @Html.Action("ListResultsGrid", "List")
            @Html.Action("Pager", "List")
        </div>
        <div class="grid__col--4">
            <div class="side-content">
                @Html.Action("SubNavigation", "Shared")
            </div>
        </div>
    </div>
</div>