﻿@model IBV.EDC.Lib.Models.Link
@{
    if(Model.IsValid)
    {
        <a class="button--back" href="/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                <path fill="#D41D0B" d="M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0z M15.9,15.6c0.8,0.8,0.8,2,0,2.7 l-0.1,0.1c-0.8,0.7-2.1,0.7-2.9,0l-6.4-5.9l6.4-5.9c0.8-0.7,2.1-0.7,2.9,0l0.1,0.1c0.8,0.7,0.8,1.9,0,2.5l-3.4,3.2L15.9,15.6z" />
            </svg>
            Back to [parent]
        </a>
    }
}
