﻿
.events {
    &__panel {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px 0 50px;
        border-bottom: 1px solid $whitesmoke;
    }

    &__heading {
        @include section-heading();
    }

    &__holder {
        border-top: 1px solid $whitesmoke;
        border-bottom: 1px solid $whitesmoke;
    }

    &__list {
        @include container();
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        list-style: none;
        padding-top: 0;
        padding-bottom: 0;

        @media screen and (max-width:$breakpoint-xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        flex-grow: 1;
        align-items: stretch;
        width: 20%;
        border-left: 1px solid $whitesmoke;

        &:nth-of-type(4n+4) {
            border-right: 1px solid $whitesmoke;
        }

        @media screen and (max-width:$breakpoint-sm) {
            width: 40%;

            &:nth-of-type(2n+2) {
                margin-right: 0;
                border-right: 1px solid $whitesmoke;
            }

            &:nth-of-type(4n+3), &:nth-of-type(4n+4) {
                border-top: 1px solid $whitesmoke;
            }
        }

        @media screen and (max-width:$breakpoint-xs) {
            width: 100%;
            border-left: 1px solid $whitesmoke;
            border-right: 1px solid $whitesmoke;
            border-bottom: 1px solid $whitesmoke;

            &:nth-of-type(4n+3), &:nth-of-type(4n+4) {
                border-top: 0;
            }

            &:last-of-type {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    &__link {
        position: relative;
        width: 100%;
        display: block;
        padding: 30px 20px;

        &:hover {
            .events__content {
                h5 {
                    color: $slategray;
                }
            }

            .events__image {
                picture {
                    img {
                        transform: scale(1.2, 1.2);
                    }
                }
            }
        }
    }

    &__content {
        z-index: 5;
        width: 100%;
        display: block;

        h5 {
            width: 100%;
            display: block;
            margin: 0 auto;
            font-weight: 600;
            color: $color-secondary;
            padding: 30px 0 20px;

            @media screen and (max-width:$breakpoint-md) {
                padding: 20px 0;
            }

            @media screen and (max-width:$breakpoint-sm) {
                padding: 10px 0;
            }

            @media screen and (max-width:$breakpoint-xs) {
                font-weight: 500;
            }

            @include transition(0.5s all ease-out);
        }
    }

    &__date {
        color: $slategray;

        .day {
            font-size: 48px;
            display: block;
            line-height: 30px;
        }

        .month {
            font-size: 25px;
            display: block;
            text-transform: uppercase;
        }

        &:after {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $grey;
            display: block;
            margin: 10px auto 0;
        }
    }

    &__time {
        font-weight: 600;
        color: $slategray;
        font-size: 15px;

        @media screen and (max-width:$breakpoint-sm) {
            font-weight: 500;
        }
    }

    &__image {
        z-index: 2;

        picture {
            display: inline-block;
            overflow: hidden;

            img {
                transform: scale(1, 1);
                @include transition(0.5s all ease-out);
            }
        }
    }

    &__panel-link-holder {
        width: 100%;
        margin-top: 30px;
    }

    &__panel-link {
        margin-top: 30px;
    }
}
