﻿
.latest-news {
    &__panel {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 80px 0 100px;
    }

    &__panel-link-holder {
        margin-top:20px;
        width: 100%;
    }

    &__panel-link {
        margin-top: 30px;
    }

    &__heading {
        @include section-heading();
    }

    &__list {
        @include container();
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-flow: row wrap;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        @media screen and (max-width:$breakpoint-xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        flex: 0 0 30%;
        margin-bottom:30px;
        padding-bottom:30px;
        border-bottom:1px solid $whitesmoke;
        @media screen and (min-width:769px) {
            &:nth-of-type(3n+2) {
                margin-left: 5%;
                margin-right: 5%;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }

        @media screen and (max-width:$breakpoint-sm) {
            flex: 0 0 47%;
            margin-right: 6%;
            margin-bottom: 30px;
            &:nth-of-type(2n+2) {
                margin-right: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }

        @media screen and (max-width:$breakpoint-xs) {
            flex: 0 0 auto;
            width:100%;
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        width: 100%;
        display: block;

        &:hover {
            .latest-news__content {
                h5 {
                    color: $slategray;
                }
            }

            .latest-news__image {
                picture {
                    img {
                        transform: scale(1.2, 1.2);
                    }
                }
            }
        }
    }

    &__content {
        z-index: 5;
        width: 100%;
        display: block;

        h5 {
            width: 100%;
            display: block;
            font-weight: 600;
            background-color: rgba(255,255,255,0.95);
            color: $color-secondary;
            @include transition(0.5s all ease-out);
        }

        time {
            color: $slategray;
            font-size: 0.8em;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__image {
        z-index: 2;

        picture {
            display: inline-block;
            overflow: hidden;

            img {
                transform: scale(1, 1);
                @include transition(0.5s all ease-out);
            }
        }
    }
}
