﻿
.twitter {
    padding: 170px 0 150px 0;

    @media screen and (max-width:$breakpoint-sm) {
        padding: 70px 0 50px 0;
    }

    &__heading {
        @include section-heading--small();
        position: relative;

        &:before {
            content: '';
            background-image: url('/content/images/svg/Twitter-feed-icon.svg');
            width: 40px;
            height: 31px;
            display: block;
            position: absolute;
            transform: translateX(-50%);
            top: -70px;
            left: 50%;

            @media screen and (max-width:$breakpoint-sm) {
                top: -40px;
            }
        }
    }

    &__holder {
        @include container();
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    &__item {
    }

    &__content {
        h5 {
            font-size: 28px;
            font-weight: 300;
            color: $slategray;
            opacity: 0.8;
            margin: 20px 0;

            @media screen and (max-width:$breakpoint-sm) {
                font-size: 18px;
                line-height: 1.4em;
                padding: 0 20px;
                margin: 15px 0;
            }
        }
    }

    &__time {
        color: $slategray;
        opacity: 0.8;

        @media screen and (max-width:$breakpoint-sm) {
            font-size: 16px;
        }
    }

    &__link {
        color: $slategray;
        font-weight: 700;
        opacity: 0.8;

        &:hover {
            color: $color-third;
        }

        @media screen and (max-width:$breakpoint-sm) {
            font-weight: 400;
        }
    }

    &__panel-link-holder {
        margin-top: 20px;
        width: 100%;
    }

    &__panel-link {
    }
}
