﻿@model IBV.EDC.Lib.Models.Interfaces.ISearchFilters
@{
    if (Model.IsValid)
    {
        <div class="filters--checkbox">
            <div class="filter-holder">
                <fieldset id="list-filters">
                    @using (Html.BeginUmbracoForm("SubmitFiltersCheckbox", "List", FormMethod.Post, new { id = "tagfilterForm" }))
                    {
                        if (Model.ShowFilterList)
                        {
                            foreach (var filter in Model.FilterList.Filters)
                            {
                                if (filter.IsValid)
                                {
                                    <div class="filters-checkboxes">
                                        <ul class="taglist taglist--@filter.Name.ToLower()">
                                            @foreach (var filterTag in filter.FilterTags)
                                            {
                                                <li>
                                                    <input id="tag-@filterTag.Tag.Id" type="checkbox" name="filter-@filter.Name.ToLower()-@filter.Id" value="@filterTag.Tag.Id" checked="@filterTag.IsSelected" class="filter-picker" />
                                                    <label for="tag-@filterTag.Tag.Id">
                                                        @filterTag.Tag.Name
                                                    </label>
                                                </li>
                                            }
                                            <li>
                                                <div class="clear-all-holder">
                                                    <span class="clear-all" id="tag-clear" href="#">Clear all</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                        }
                    }
                </fieldset>
            </div>
        </div>
    }
}
