﻿@model IBV.EDC.Lib.Models.Interfaces.ISearchResultList
@{
    if (Model.IsValid)
    {
        var resultsMessage = string.Empty;
        if (Request.QueryString["keywords"] != null && Request.QueryString["keywords"].Length > 1)
        {
            resultsMessage = string.Format("Your searched for \"{0}\" returned ", Request.QueryString["keywords"]);
        }
        else
        {
            resultsMessage = "Returning ";
        }

        var resultCount = Model.SearchResults.Count == 1 ? "1 result" : Model.SearchResults.Count + " results";

        <div class="list-results--column__wrapper">
            <p class="list-results--column__count">@resultsMessage<span>@resultCount</span></p>
            <ul class="list-results--column">
                @foreach (var searchResult in Model.SearchResults)
                {
                    <li class="list-results--column__item">
                        <a class="list-results--column__link" href="@searchResult.Link.Url" title="@searchResult.Link.Title">
                            <div class="list-results--column__content">
                                <h4>
                                    @searchResult.Link.Title
                                </h4>
                                <p>@searchResult.Summary</p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        @Html.Raw(Model.NoResultsText)
    }
}

