﻿@model IBV.EDC.Lib.Models.Interfaces.ISearchFilters
@{
    if (Model.IsValid)
    {
        if (Model.ShowKeywordFilter)
        {
            <form action="" method="get">
                <div class="filters--side">
                    <div class="filter-holder">
                        <fieldset id="list-filters">
                            <legend>
                                Search again
                            </legend>
                            <input id="keywords" type="text" name="keywords" value="" placeholder="" />
                            <input type="submit" value="Search" class="button--primary box search" />
                        </fieldset>
                    </div>
                </div>
            </form>
        }
    }
}
