﻿@model IBV.EDC.Lib.Models.Interfaces.ISearchResultList
@{
    if (Model.IsValid)
    {
        <ul class="list-results--documents">
            @foreach (var searchResult in Model.SearchResults)
            {
                <li class="list-results--documents__item">
                    <a href="@searchResult.Link.Url" class="list-results--documents__link">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44px" height="56px" viewBox="0 0 44 56" enable-background="new 0 0 44 56" xml:space="preserve">
                            <path fill="#0182A0" d="M44,56H0V0h32.9L44,11V56z M1.1,54.8h41.7V11.5L32.5,1.2H1.1V54.8z" />
                            <polygon fill="#0182A0" points="32.7,11.8 43.4,11.8 32.7,1.2 " />
                            <rect x="10.2" y="21.7" fill="#0182A0" width="23" height="1.7" />
                            <rect x="10.2" y="26.4" fill="#0182A0" width="23" height="1.7" />
                            <rect x="10.2" y="31" fill="#0182A0" width="23" height="1.7" />
                            <rect x="10.2" y="35.7" fill="#0182A0" width="23" height="1.7" /></svg>
                        <div class="list-results--documents__content">
                            <h3>@searchResult.Heading</h3>
                            <p>@searchResult.Summary</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        @Html.Raw(Model.NoResultsText)
    }
}