﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@model IBV.EDC.Lib.Models.Interfaces.ISearchResultList
@{

    if (Model.IsValid)
    {
        bool ignoreDates = (bool)ViewBag.IgnoreDates;

        <section class="list-results--grid__panel">
            <div class="list-results--grid__holder">
                <ul class="list-results--grid__list">
                    @foreach (var searchResult in Model.SearchResults)
                    {
                        <li class="list-results--grid__item">
                            <a href="@searchResult.Link.Url" class="list-results--grid__link">
                                <div class="list-results--grid__image">
                                    @Html.Action("ImageCrop", "Shared", new
                               {
                                   image = searchResult.Image,
                                   lg = new ImageCrop(ImageCropOption.Square, 500),
                                   md = new ImageCrop(ImageCropOption.Square, 500),
                                   sm = new ImageCrop(ImageCropOption.Square, 768),
                                   xs = new ImageCrop(ImageCropOption.Square, 480)
                               })
                                </div>
                                <div class="list-results--grid__content">
                                    <h5>@searchResult.Heading</h5>
                                    @if (!ignoreDates)
                                    {
                                     <time class="list-results--events__time" datetime="@searchResult.Date.DateTime.ToString("dd-MMM-yyyy")">@searchResult.Date.DateTime.ToString("dd MMM yyyy")</time>
                                    }
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
    }
    else
    {
        @Html.Raw(Model.NoResultsText)
    }
}