﻿@model IBV.EDC.Lib.Models.Interfaces.ISearchPager

@{
    if (Model.IsValid)
    {
        // Retrieve current query string
        // Remove page key so that it can be reassigned to various links
        // Ensure query string values are encoded

        var queryStringKeyValues = HttpUtility.ParseQueryString(HttpContext.Current.Request.Url.Query);
        queryStringKeyValues.Remove("page");
        queryStringKeyValues
            .AllKeys
            .ToList()
                .ForEach(x => queryStringKeyValues[x] = HttpUtility.HtmlEncode(queryStringKeyValues[x]));

        string queryString = queryStringKeyValues.ToString();
        if (!string.IsNullOrWhiteSpace(queryString))
        {
            queryString += "&";
        }

        <div class="pager">
            <ul class="pager__list" id="list-pager">
                <li class="pager__item">
                    @if (Model.PreviousPageIsValid)
                    {
                        <span class="pager__link-wrapper">
                            <a href="?@(queryString)page=@Model.PreviousPageNumber" class="pager__link">
                                Previous
                            </a>
                        </span>
                    }

                    <span class="pager__link-wrapper">
                        @foreach (var page in Model.PagerLinks)
                        {
                            var itemClass = page.IsCurrent ? "pager__link--current-page" : "pager__link--page";
                            <a href="?@(queryString)page=@page.PageNumber" class="@itemClass">@page.PageNumber</a>
                        }
                    </span>

                    @if (Model.NextPageIsValid)
                    {
                        <span class="pager__link-wrapper">
                            <a href="?@(queryString)page=@Model.NextPageNumber" class="pager__link">
                                Next
                            </a>
                        </span>
                    }

                    <span class="pager__link-wrapper--last">
                        <a href="?@(queryString)page=all" class="pager__link">
                            View All
                        </a>
                    </span>

                </li>
            </ul>
        </div>
    }
}