﻿@model IBV.EDC.Lib.Models.SearchResultList
@{
    if (Model.IsValid)
    {
        <section class="gateway-results--grid__panel">
            <div class="gateway-results--grid__holder">
                <ul class="gateway-results--grid__list">
                    @foreach (var searchResult in Model.SearchResults)
                    {
                        <li class="gateway-results--grid__item">
                            <a href="@searchResult.Link.Url" class="gateway-results--grid__link">
                                <div class="gateway-results--grid__content">
                                    <h2>@searchResult.Heading</h2>
                                </div>
                                <svg class="gateway-results--grid__button" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 45 45" enable-background="new 0 0 45 45" xml:space="preserve"><circle fill="#FFFFFF" cx="22.5" cy="22.5" r="22.5" />
                                    <path fill="#D41D0B" d="M16.4,32.9l0.2,0.2c1.4,1.3,3.8,1.3,5.2,0l11.5-10.6L21.8,11.9c-1.4-1.3-3.8-1.3-5.2,0l-0.2,0.2 c-1.4,1.3-1.4,3.4,0,4.9l6.1,5.8l-6.1,5.8C14.9,29.5,14.9,31.7,16.4,32.9z" />
                                </svg>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
    }
}
