﻿@model IBV.EDC.Lib.Models.Interfaces.IFaqList
@{
    if (Model.IsValid)
    {
        <div class="faq__group">
            <dl class="faq__list">
                @foreach (var faq in Model.Faqs)
                {
                    <div class="faq__item">
                        <dt class="faq__head inactive">
                            <a href="#" class="faq__link close closed">
                                @faq.Question
                                <div class="faq__button">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.4px" height="23.3px" viewBox="0 0 23.4 23.3" enable-background="new 0 0 23.4 23.3" xml:space="preserve">
                                    <path id="horizontal" fill="#0182A0" d="M14.5,14.5h6.3c0.7,0.1,1.3-0.2,1.8-0.7c1-0.9,1.1-2.4,0.2-3.3c-0.1-0.1-0.1-0.1-0.2-0.2 c-0.5-0.5-1.1-0.8-1.8-0.7l0,0v0h-6.3H8.7H2.5c-0.7,0-1.3,0.2-1.8,0.7C0.2,10.7,0,11.3,0,12c0,0.7,0.2,1.3,0.7,1.8 c0.5,0.5,1.1,0.7,1.8,0.7h6.2H14.5z"></path>
                                    <path id="vertical-1" fill="#0182A0" d="M14.5,9.6V2.9c0.1-0.8-0.2-1.5-0.8-2.1c-0.5-0.5-1.2-0.8-2-0.8c-0.8,0-1.6,0.3-2.2,0.8	C9,1.4,8.7,2.1,8.7,2.9v6.7"></path>
                                    <path id="vertical-2" fill="#0182A0" d="M8.7,14.5v5.9c0,0.8,0.3,1.5,0.8,2.1c1.2,1.1,3,1.1,4.2,0c0.6-0.5,0.9-1.3,0.8-2.1v-5.9"></path>
                                        </svg>
                                </div>
                            </a>
                        </dt>
                        <dd class="faq__body expanded" style="display:none;">
                            @Html.Raw(faq.Answer)
                        </dd>
                    </div>
                }
            </dl>
        </div>
    }
}

