﻿@using IBV.EDC.Lib.Models
@using IBV.EDC.Lib.Enums
@model IBV.EDC.Lib.Models.Interfaces.IFeatureList
@{
    if (Model.IsValid)
    {
        <section class="feature__panel">
            <ul class="feature__list">
                @foreach (var feature in Model.Features)
                {
                    <li class="feature__item">
                        <a class="feature__link" href="@feature.Link.Url" alttext="@feature.Link.Title">
                            @if (feature.Image.IsValid)
                            {
                                <div class="feature__image">
                                    @Html.Action("ImageCrop", "Shared", new
                                    {
                                       image = feature.Image,
                                       lg = new ImageCrop(ImageCropOption.Landscape, 1600),
                                       md = new ImageCrop(ImageCropOption.Landscape, 1200),
                                       sm = new ImageCrop(ImageCropOption.Landscape, 768),
                                       xs = new ImageCrop(ImageCropOption.Square, 480)
                                    })
                                </div>
                            }
                            <div class="feature__content">
                                <div class="feature__button button--link">
                                    @feature.Link.Title
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                                        <path fill="#D41D0B" d="M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0z M12.1,18.4 c-0.8,0.7-2.1,0.7-2.9,0l-0.1-0.1c-0.8-0.7-0.8-1.9,0-2.5l3.4-3.2L9.1,9.4c-0.8-0.8-0.8-2,0-2.7l0.1-0.1c0.8-0.7,2.1-0.7,2.9,0 l6.4,5.9L12.1,18.4z" />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </section>
    }
}

