﻿

.list-results {
    &--column {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;

        &__count {
            margin-bottom: 30px;
            padding-bottom: 50px;
            border-bottom: 1px solid $whitesmoke;
            font-size: 28px;

            span {
                font-weight: 600;
            }
        }

        &__item {
            width: 100%;
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid $whitesmoke;
        }

        &__link {
            color: $color-secondary;
            position: relative;
            padding: 0;
            width: 100%;
            display: block;

            &:hover {
                .list-results--search__content {
                    h4 {
                        color: $slategray;
                    }
                }
            }
        }

        &__content {
            h4 {
                color: $color-secondary;
                margin: 0 0 7px 0;
                @include transition(0.5s all ease-out);
            }

            p {
                color: $slategray;
                margin: 0 0 20px 0;
                @include transition(0.5s all ease-out);
            }
        }
    }

    &--documents {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;

        &__item {
            width: 100%;
            margin-bottom: 20px;
        }

        &__link {
            color: $color-secondary;
            position: relative;
            padding: 0 0 0 65px;
            width: 100%;
            display: block;

            svg {
                position: absolute;
                left: 0;
                top: 0;

                path, polygon, rect {
                    fill: $color-secondary;
                    @include transition(0.5s all ease-out);
                }
            }

            &:hover {
                .list-results--documents__content {
                    h3 {
                        color: $slategray;
                    }

                    p {
                        color: $slategray;
                    }
                }

                svg {
                    path, polygon, rect {
                        fill: $slategray;
                    }
                }
            }
        }

        &__content {
            h3 {
                color: $color-secondary;
                font-weight: 300;
                margin: 0 0 20px 0;
                @include transition(0.5s all ease-out);
            }

            p {
                color: $color-secondary;
                margin: 0 0 20px 0;
                @include transition(0.5s all ease-out);
            }
        }
    }

    &--grid {
        &__panel {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-flow: row wrap;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;

            @media screen and (max-width:$breakpoint-xs) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__item {
            flex: 0 0 30%;
            margin-bottom: 60px;
            border-bottom: 1px solid $whitesmoke;

            @media screen and (min-width:769px) {
                &:nth-of-type(3n+2) {
                    margin-left: 5%;
                    margin-right: 5%;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }

            @media screen and (max-width:$breakpoint-sm) {
                flex: 0 0 47%;
                margin-right: 6%;
                &:nth-of-type(2n+2) {
                    margin-right: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }

            @media screen and (max-width:$breakpoint-xs) {
                flex: 0 0 auto;
                width: 100%;
                margin-right: 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            display: flex;
            flex-grow: 2;
            position: relative;
            width: 100%;
            display: block;
            padding-bottom: 30px;
            align-self: flex-start;

            &:hover {
                .list-results--grid__content {
                    h5 {
                        color: $slategray;
                    }
                }

                .list-results--grid__image {
                    picture {
                        img {
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
            }
        }

        &__content {
            z-index: 5;
            width: 100%;
            display: block;

            h5 {
                width: 100%;
                display: block;
                font-weight: 600;
                color: $color-secondary;
                margin-bottom: 20px;
                @include transition(0.5s all ease-out);
            }

            time {
                color: $slategray;
                font-size: 0.8em;
                font-weight: 500;
                text-transform: uppercase;
            }

            p {
                font-size: 0.8em;
                font-weight: 600;
            }
        }

        &__image {
            z-index: 2;
            border: 1px solid $whitesmoke;

            picture {
                display: inline-block;
                overflow: hidden;

                img {
                    transform: scale(1, 1);
                    @include transition(0.5s all ease-out);
                }
            }
        }
    }
}
