﻿.filters {
    &--checkbox {
        .filter-holder {
            width: 100%;
            display: block;

            #list-filters {
                border: 0;
                margin: 15px 0 50px 0;
                padding: 0;

                legend {
                    display: none;
                }

                .filters-checkboxes {
                    display: inline;

                    ul.taglist {
                        list-style: none;
                        padding: 0;
                        display: inline;

                        li {
                            display: inline-block;
                            margin-top: 15px;

                            input[type=checkbox] {
                                display: none;
                            }

                            label {
                                color: $color-secondary;
                                background-color: $white;
                                border: 1px solid $color-secondary;
                                padding: 6px 45px 6px 25px;
                                border-radius: 50px;
                                position: relative;
                                margin-right: 10px;
                                display: block;
                                font-weight: 400;
                                @include transition(0.3s all ease-out);

                                &:before {
                                    content: "";
                                    position: absolute;
                                    right: 12px;
                                    top: 6px;
                                    color: $white;
                                }

                                &:hover {
                                    cursor: pointer;
                                    background-color: $color-primary;
                                    border: 1px solid $color-primary;
                                    color: $white;
                                }
                            }

                            input[type="checkbox"]:checked ~ label {
                                background-color: $color-secondary;
                                border: 1px solid $color-secondary;
                                color: $white;

                                &:before {
                                    background-image: url('/content/images/Filter-x.png');
                                    background-repeat: no-repeat;
                                    background-position: 5px 2px;
                                    width: 22px;
                                    height: 23px;
                                    display: block;
                                    color: $white;
                                    margin: 4px 0 0 0;
                                }
                            }
                        }
                    }
                }

                .clear-all-holder {
                    display: inline-block;
                    margin-top: 15px;

                    .clear-all {
                        display: block;
                        background-color: $color-secondary;
                        color: $white;
                        padding: 6px 25px 6px 25px;
                        border-radius: 50px;
                        position: relative;
                        margin-right: 10px;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover {
                            background-color: $slategray;
                            color: white;
                        }
                    }
                }

                input[type=submit] {
                    display: none;
                }
            }

            .filter-toggle {
                span {
                }

                svg {
                }
            }

            .filter-toggle {
                display: none;
            }
        }
    }

    &--side {
        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }

        .filter-holder {
            width: 100%;
            display: block;

            #list-filters {
                border: 0;
                margin: 0;
                padding: 0;

                legend {
                    margin: 0 0 10px;
                    padding-bottom: 10px;
                    font-weight: 600;
                    width: auto;
                    font-size: 24px;
                }

                #keywords {
                    width: 90%;
                    padding: 10px 20px;
                    margin-bottom: 20px;
                }

                input[type=submit] {
                    display: block;
                }
            }
        }
    }
}
