﻿

.pager {
    &__1col-wrapper {
        @include container();
        display: block; /* Hack to remove flex so the pager displays full width with padding */
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid $whitesmoke;
        border-bottom: 1px solid $whitesmoke;
    }

    &__link {
        display: none;

        &--page {
            color: $color-secondary;
            border-left: 0;
            border-right: 0;
            min-width: 50px;
            text-align: center;
            padding: 7px 20px;
            font-size: 22px;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            float: left;
            @include transition(0.5s all ease-out);

            &:hover {
                cursor: pointer;
                color: $color-third;
                border-top: 3px solid $color-third;
                border-bottom: 3px solid $color-third;
            }
        }

        &--current-page {
            color: $color-secondary;
            border-left: 0;
            border-right: 0;
            min-width: 50px;
            text-align: center;
            padding: 7px 20px;
            font-size: 22px;
            border-top: 3px solid $color-secondary;
            border-bottom: 3px solid $color-secondary;
            font-weight: 700;
            float: left;
            @include transition(0.5s all ease-out);

            &:hover {
                cursor: pointer;
                color: $color-third;
                border-top: 3px solid $color-third;
                border-bottom: 3px solid $color-third;
            }
        }
    }
}